body {
    font-family: sans-serif;
    background-color: rgb(0, 0, 91);
}
#pageDiv {
    --display: grid;
    border-radius: 2px;
    border-style: solid;
    border-radius: 7px;
    height: 95vh;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 1vw;
    background-color: white;
    padding-left: 10px;
}

.input {
    margin-right: 20px;
}

.label {
    display: inline-block;
    --min-width: 170px;
    text-align: right;
}

#why {
    width: 500px;
}

#referral {
    width: 500px;
}

#submit {
    margin-left: 45vh;
    width: 200px;
    height: 40px;
}

.addingElements {
    margin-bottom: 5px;
}

.addButton {
    vertical-align: middle;
}