body {
    background-color: white;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

div p {
    margin-top: 0px;
    margin-bottom: 0px;
}

::-webkit-scrollbar {
    width: 0%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.metaForm {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    top: 10%;
    right: 2.5%;
    width: 25%;
    height: 80%;
    z-index: 3;
    border-radius: 15px;
}

.heading-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #110D65;
    font-size: 24px;
    color: white;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.formBody {
    height: 90%;
    overflow-y: scroll;
}

.input-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
    align-items: center;
}

.lessonHeaders {
    height: 3%;
    display: grid;
    grid-template-columns: 65% 15% 20%;
    grid-template-rows: 100%;
    text-align: center;
    border-style: solid;
    border-width: 1px 0px 2px 0px;
}

.lessonBody {
    height: 87%;
    display: grid;
    grid-template-columns: 65% 15% 20%;
    grid-auto-rows: auto;
    text-align: center;
    overflow-y: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cursor {
    cursor: pointer;
}

.gridBox-3 {
    border-style: solid;
    border-color: black;
    border-left-width: 0px;
    border-bottom-width: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.gridBox-3:nth-child(-n+3) {
    border-top-width: 0px;
}

.gridBox-3:nth-child(3n) {
    border-right-width: 0px;
}

.student-notes-input {
    resize: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 10%;
    font-size: 16px;
    font-weight: 300;
    border-radius: 13px; 
    margin-top: 10px;
}

.chat-area-hidden {
    display: none;
}

.chat-area-visible {
    background-color: yellowgreen;
    height: calc(80% - 10px);
    display: block;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

#topNavigationBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 9vh;
    width: 99vw;
    background-color: rgb(210, 210, 210);
    z-index: 1;
    padding-left: 1vw;
}

#mainBody {
    position: relative;
    height: 91vh;
    width: 100vw;
    background-color: #8986b2;
    z-index: 1;
}

#logo {
    height: calc(0.75 * 9vh);
    width: calc(0.75 * 2.51 * 9vh);
}

#nameSection {
    height: 10%;
    align-items: center;
    background-color: blue;
}