body {
    background-color: white;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    /*overflow-y: hidden;*/
}

div p {
    margin-top: 0px;
    margin-bottom: 0px;
}

::-webkit-scrollbar {
    width: 0%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.metaForm {
    /*grid-area: chart;*/
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 24vw;
    height: 75vh;
    z-index: 3;
    border-radius: 15px;
    margin-right: 3%;
    position: relative;
}

.formTab {
    display: flex;
    flex-direction: row;
    height: 7.25%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.statusBarDiv {
    height: 0.75%;
    display: flex;
    flex-direction: row;
}

.statusBar {
    background-color: white;
    flex-grow: 1;
}

.headingBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #110D65;
    font-size: 14px;
    color: white;
    text-align: center;
}

.headingBlock:first-child{
    border-top-left-radius: 15px;
}

.headingBlock:last-child{
    border-top-right-radius: 15px;
}

.inputRowCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
    align-items: center;
}

.button {
  margin-top: 20px;
  width: 140px;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #110D65;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #110D65;
  box-shadow: 0px 15px 20px rgba( 17, 12, 100, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.testSubmitButton {
  margin-bottom: 10px;
  width: 140px;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  outline: none;
  text-align: center;
  color: white;
}

.lessonHeaders {
    height: 4%;
    display: grid;
    grid-template-columns: 65% 15% 20%;
    grid-template-rows: 100%;
    text-align: center;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}

.lessonBody {
    height: 89%;
    display: grid;
    grid-template-columns: 65% 15% 20%;
    grid-auto-rows: auto;
    text-align: center;
    overflow-y: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cursor {
    cursor: pointer;
}

.gridBox3 {
    border-style: solid;
    border-color: black;
    border-left-width: 0px;
    border-bottom-width: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 35px;
}

/*.gridBox3.cursor:nth-child(3n):hover {
    background: linear-gradient(to left,green 25%, yellow 25% 50%, red 50% 75%, white 75%);
}*/

.gridBox3:nth-child(-n+3) {
    border-top-width: 0px;
}

.gridBox3:nth-child(3n) {
    border-right-width: 0px;
    position: relative;
}

.visibleBlock {
    display: block;
}

.flex-column {
  display: flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

#topNavigationBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 9vh;
    width: 99vw;
    background-color: rgb(210, 210, 210);
    z-index: 1;
    padding-left: 1vw;
}

.mainBody {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 81vh;
    width: 100vw;
    background-color: #8986b2;
    /*background-color: #4d4d8c;*/
    z-index: 1;
}

.englishColor {
    background-color: #5600F7;
    color: white;
}

.mathColor {
    background-color: #F70056;
    color: white;
}

.readingColor {
    background-color: #00E6BC;
    color: white;
}

.scienceColor {
    background-color: #C00BE0;
    color: white;
}

.green {
    background-color: green;
}

.pink {
    background-color: pink;
    z-index: 3;
}

.greenShade {
    background-color: rgb(0, 191, 0);
}

.purple {
    background-color: #110D65;
}

.white {
    color: white;
}

.yellow {
    background-color: rgb(252, 241, 81);
    color: black;
}

.orange {
    background-color: orange;
}

.gray {
    background-color: rgb(100, 100, 100);
}

.red {
    background-color: red;
    color: white;
}

.Qred {
    background-color:red;
}

.redOnHover:hover {
    background-color: rgb(255, 0, 0, 0.7);
}

.activeTab{
    background-color: white;
    color: black;
}

.buttonToggleOn {
  margin-top: 20px;
  width: 140px;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  background-color: #110D65;
  color: #fff;
}

.buttonToggleOff {
  color: #110D65;
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba( 17, 12, 100, 0.4);
  transform: translateY(-7px);
  margin-top: 20px;
  width: 140px;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  outline: none;
}

.label {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
    color: black;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.input-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-column {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.input-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(200, 200, 200);
    align-items: center;
    text-align: center;
}

.smallButton {
  margin-bottom: 10px;
  width: 100px;
  height: 33.3px;
  text-align: center;
}

.longButton {
  margin-bottom: 10px;
  width: 150px;
  height: 42px;
  text-align: center;
}

.popup {
  visibility: hidden;
  width: 170px;
  background-color: rgb(150, 150, 150);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0px 8px 0px;
  position: absolute;
  z-index: 4;
  bottom: calc(7% + 5px);
  right: calc(50% - 85px - 45px - (.5 * ((100% - 200px) / 3)));
}

/* Popup arrow */
.popup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% + 5px);
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.popupValue {
    z-index: 3;
    height: 35px;
    width: 35px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border-radius: 20px;
    margin-top: 3px;
}

.popupDash {
    height: 35px;
    width: 38%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-top: 3px;
}

.popupAnswer {
    height: 35px;
    width: 35px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-top: 3px;
}

.smallerText {
    text-transform: lowercase;
    font-size: 10px;
}

.item {
    background-color: white;
    font-size: 24px;
    font-weight: bold;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;*/
    border-radius: 14px;
    width: 15vw;
    height: 12vh;
    margin-top: 5vh;
}

.item:first-child {
    margin-left: 0vw;
}

.itemB1 {
    grid-area: b1;
}

.itemB2 {
    grid-area: b2;
}

.itemB1 h2 {
    margin: 0px;
}

.itemB2 h2 {
    margin: 0px;
}

.nextButton {
    margin-left: 10px;
}

.graph {
    width: 67vw;
    flex: 1;
    margin-right: 3%;
    margin-left: 3%;
}

.bigButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.spaced {
    justify-content: space-between;
}

.spacedEvenly {
    justify-content: space-evenly;
}

#sectionTitle {
    font-size: 3em;
}

#studentName {
    font-size: 2em;
}

.hidden {
    display: none;
}

#logo {
    height: calc(0.75 * 9vh);
    width: calc(0.75 * 2.51 * 9vh);
}

#nameSection {
    height: 10vh;
    width: 100%;
    align-items: center;
    background-color: #8986b2;
    /*background-color: #4d4d8c;*/
}

.generalInfo {
    height: 80vh;
    width: 100%;
    /*display:grid;
    grid-template-columns: 3% 25% 14% 25% 5% 25% 3%;
    grid-template-rows: 2% 60% 5% 30% 3%;
    grid-template-areas:
    ".   .     .     .   .   .   . "
    ". graph graph graph . chart . "
    ".   .     .     .   . chart . "
    ".  b1     .    b2   . chart . "
    ".   .     .     .   .   .   . ";*/
}

.scores-chart {
    background-color: white;
    max-width: 67vw;
    max-height: 60vh;
    /*grid-area: graph;*/
    /*height: 80%;
    width: 67%;*/
    border-radius: 14px;
}

#answerButton {
  margin-left: 20px;
}

#guessButton {
  margin-left: 20px;
}

#leftArrow {
    font-size: 35px;
    flex-grow: 1;
    padding-bottom: 4px;
}

#passage {
    width: 70%;
    max-height: 100%;
    overflow-y: scroll;
}
  
#rightArrow {
    font-size: 35px;
    flex-grow: 1;
    padding-bottom: 4px;
}

#popupButtons {
    height: 7%;
}

#popupInfo {
    padding: 0px;
    height: 85%;
}

#statusBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:fixed;
    text-align: center;
    background-color: rgb(180, 180, 180);
    bottom: 1vh;
    right: 1vh;
    height: 26px;
    width: 26px;
    vertical-align: middle;
    z-index: 2;
}

#statusBox p {
    margin-bottom: 2px;
}

#lessonPopup{
    position: absolute;
    right: 7.8vw;
    z-index: 5;
    padding-right: 5px;
    box-shadow: -15px 8px 15px rgba(0, 0, 0, 0.1);
    background-color: rgb(200, 200, 200, 0);
}

.meter {
    box-sizing: content-box;
    /*height: 0.75%;*/
    height: 6px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.loading {
    background: linear-gradient(-45deg,
    rgba(255, 255, 255, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    transparent 75%, transparent);
    background-size: 5.5px;
    animation: move 0.5s linear infinite;
    background-color: blue;
    height: 100%;
}

@keyframes move {
  100% {
    background-position: 5.5px 5.5px;
  }
  0% {
    background-position: 0 0;
  }
}

.selectedElement {
    border-style : solid;
    border-width : 1.5px;
    border-color : rgb(135, 168, 247);
    background-color: rgb(135, 168, 247, 0.2);
    color: black;
}

.squareButton {
  width: 110px;
  height: 35px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear 0s;
}
  
.squareButton:hover {
    text-indent: 20px;
    filter:brightness(110%)
}

.loadingRing::after {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /*border: 4px solid rgba(29, 161, 242, 0.2);
  border-left-color: rgb(29, 161, 242);*/
  border: 4px solid rgba(0, 0, 91, 0.2);
  border-left-color: rgb(0, 0, 91);
  background: transparent;
  animation: rotate-s-loader 1s linear infinite;
  position:absolute;
  content: '';
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.uhOh::after {
  position:absolute;
  color: red;
  content: '\0021';
  font-size: 35px;
}