:root {
  --nav-background: white;
  --nav-color: black;

  --color-primary: #ffffff;
  --color-secondary: #E0E0DB;
  --color-tertiary: #101b42;

  /* --color-accent-1-deep: #ffb102;
  --color-accent-2-deep: #27c13a;
  --color-accent-3-deep: #19a7c8;
  --color-accent-4-deep: #6b6be5;
  --color-accent-5-deep: #ef6b6b;

  --color-accent-1-light: #ffca02;
  --color-accent-2-light: #3cdd58;
  --color-accent-3-light: #02c6ff;
  --color-accent-4-light: #8787ff;
  --color-accent-5-light: #ea5a5a; */

  --color-orange: #F5B133;
  --color-light-orange: #FDF4CC;
  --color-green: #27c03a;
  --color-blue: #101B42;
  --color-dark-blue: #253551;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "proxima-nova", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  background-color: var(--color-light-orange);
  display: flex;
  flex-direction: column;
}

section {
  padding: 3em 1em;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:active {
  color: inherit;
}

a:visited {
  color: inherit;
}

img, video {
  display: block;
  max-width: 100%;
}

details > summary::-webkit-details-marker { 
  display: none; 
}

details summary { 
  cursor: pointer;
  outline: none;
}

/* Typography */

h1, h2, h3, h4, h5, p {
  margin: 0 0 .5em;
  line-height: 1em;
}

h1 {
  font-size: 2.5rem;
  font-weight: 1000;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
}

h4 {
  font-size: 1.25rem;
  font-weight: 300;
}

h5 {
  font-size: 1rem;
  font-weight: 300;
}

p {
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
    font-weight: 1000;
  }
  
  h2 {
    font-size: 3rem;
    font-weight: 900;
  }
  
  h3 {
    font-size: 2rem;
    font-weight: 900;
  }
  
  h4 {
    font-size: 1.8rem;
    font-weight: 300;
  }
  
  h5 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  p {
    font-size: 1.1rem;
  }
}

/* navigation styles start here */

header {
  background: var(--color-blue);
  color: var(--color-primary);
  text-align: center;
  position: sticky;
  top: 0px;
  z-index: 999;
  width: 100%;
  padding: 1em 0em;
  transition: background-color 200ms ease-in;
}

header li {
  margin: 0px;
}

header li::before {
  content: none;
}

.logo {
  margin-left: .5em;
  width: 5em;
  display: block;
  margin-top: 2px;
  fill: white;
}

.phone {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.phone a {
  display: flex;
  background-color: var(--color-green);
  color: white;
  padding: .5em 1.5em;
  align-items: center;
  justify-content: center;
  border-radius: .5em;
  text-decoration: none;
}

.phone a svg {
  margin-right: .5em;
  fill: white;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin-right: 1em;
  height: 50%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--color-primary);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  background: var(--color-blue);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-right: 1em;
}

nav a {
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav .enroll {
  font-size: 1rem;
}

.enroll {
  padding: .7em 1.8em;
  border-radius: .4em;
  background-image: linear-gradient(45deg, #ffca02, 65%, #ea5a5a);
  font-weight: bold;
  font-size: 1em;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

nav a:hover {
  text-decoration: none;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: .2fr auto 3fr auto .2fr;
  }
  
  .logo {
    grid-column: 2 / 3;
    margin-left: 0;
  }

  .phone {
    grid-column: 4 / 5;
    justify-content: flex-end;
  }
  
  nav {
    all: unset; /* this causes issues with Edge, since it's unsupported */
    
    /* the following lines are not from my video, but add Edge support */
    /* position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial; */
    /* end Edge support stuff */
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin-left: 2em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a:not(.enroll)::before {
    content: '';
    display: block;
    height: 5px;
    background: var(--color-primary);
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

/* footer */

footer {
  padding: 2em 2em 3em 2em;
  color: var(--color-primary);
  background-color: var(--color-blue);
}

footer .links {
  display: flex;
  flex-direction: column;
}

footer .logo-box {
  max-width: 100px;
  height: 100px;
  border: 1px solid var(--color-blue);
  border-radius: .75em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

footer .links .site-map > ul {
  column-count: 2;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  margin: 0px;
}

footer li::before {
  content: none;
}

footer img {
  display: inline;
  width: 2em;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer .copyright {
  text-align: center;
}

@media screen and (min-width: 800px) {
  footer .links {
    flex-direction: row;
    justify-content: space-around;
  }
}



main {
  background-image: url(Images/test-taker-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1680px;
  align-self: center;
}

section {
  margin-inline: 2em;
}

#heading {
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#heading h1 {
  font-size: 2.5em;
}

#heading h2 {
  font-size: 1.25em;
  font-weight: 100;
  line-height: 2em;
}

#heading button {
  background-color: var(--color-primary);
  color: var(--color-dark-blue);
  padding: 1em 2em;
  border: none;
  border-radius: .25em;
  font-size: 1.25em;
}

#summary {
  background-color: var(--color-primary);
  border-radius: .25em;
  padding: 2em;
  color: var(--color-dark-blue);
  box-shadow: var(--color-orange) -2px 2px 0px 0px;
}

#summary h1 {
  font-size: 2.5em;
}

#summary p {
  line-height: 1.5em;
}

#summary img {
  border-radius: .25em;
}

#summary button {
  border: none;
  border-radius: .25em;
  background-color: var(--color-orange);
  color: var(--color-primary);
  padding: 1em 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  font-size: 1em;
}

#details {
  color: var(--color-dark-blue);
}

#details h1 {
  font-size: 2.5em;
  text-align: center;
}

#details h2 {
  color: var(--color-orange);
  font-size: 1.5em;
  margin-block: 1em;
}

#details h3 {
  text-align: center;
  font-size: 1.25em;
}

#details p {
  line-height: 1.5em;
}

#details button {
  border: none;
  border-radius: .25em;
  background-color: var(--color-orange);
  color: var(--color-primary);
  padding: 1em 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  font-size: 1em;
}

#about {
  color: var(--color-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary);
  margin: 0;
}

#about h1 {
  font-size: 2.5em;
  text-align: center;
}

#about p {
  line-height: 1.5em;
}

#about img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  max-width: 75%;
  align-self: center;
}

#about > div > div {
  background-color: var(--color-secondary);
  padding: 2em;
  border-radius: .25em;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

#about > div > div h1 {
  font-size: 2em;
  margin-block: .5em;
}

@media screen and (min-width: 1200px) {
  #summary {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    column-gap: 2em;
    padding-inline: 3em;
  }
  
  #summary img {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }
}

@media screen and (min-width: 800px) {
  section {
    margin-inline: 8em;
  }

  #heading {
    max-width: 1200px;
  }

  #details {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
  }

  #details > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, auto);
    column-gap: 2em;
  }

  #details > div > video {
    align-self: center;
  }

  #details > div > video:first-of-type {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
  }

  #details > div > video:last-of-type {
    grid-column: 2 / -1;
    grid-row: 5 / -1;
  }

  #details button {
    width: max-content;
    padding: 1em 6em;
    align-self: center;
  }

  #about > div {
    display: grid;
    width: 100%;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
    column-gap: 4em;
  }
}