@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600&display=swap');

:root {
  --nav-background: white;
  --nav-color: black;

  --color-primary: #ffffff;
  --color-secondary: #E6E7E8;
  --color-tertiary: #101b42;

  --color-accent-1-deep: #ffb102;
  --color-accent-2-deep: #27c13a;
  --color-accent-3-deep: #19a7c8;
  --color-accent-4-deep: #6b6be5;
  --color-accent-5-deep: #ef6b6b;

  --color-accent-1-light: #ffca02;
  --color-accent-2-light: #3cdd58;
  --color-accent-3-light: #02c6ff;
  --color-accent-4-light: #8787ff;
  --color-accent-5-light: #ea5a5a;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "proxima-nova", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  background-color: var(--color-secondary);
}

section {
  padding: 3em 1em;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-accent-4-deep);
}

a:hover {
  color: var(--color-accent-3-light);
}

img {
  display: block;
  max-width: 100%;
}

details > summary::-webkit-details-marker { 
  display: none; 
}

details summary { 
  cursor: pointer;
  outline: none;
}

/* Typography */

h1, h2, h3, h4, h5, p {
  margin: 0 0 .5em;
  line-height: 1em;
}

h1 {
  font-size: 2.5rem;
  font-weight: 1000;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
}

h4 {
  font-size: 1.25rem;
  font-weight: 300;
}

h5 {
  font-size: 1rem;
  font-weight: 300;
}

p {
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 5rem;
    font-weight: 1000;
  }
  
  h2 {
    font-size: 3rem;
    font-weight: 900;
  }
  
  h3 {
    font-size: 2rem;
    font-weight: 900;
  }
  
  h4 {
    font-size: 1.8rem;
    font-weight: 300;
  }
  
  h5 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  p {
    font-size: 1.1rem;
  }
}

/* navigation styles start here */

header {
  background: var(--nav-background);
  color: var(--nav-color);
  text-align: center;
  position: sticky;
  top: 0px;
  z-index: 999;
  width: 100%;
  box-shadow: #00000041 0em .5em 20px;
  transition: background-color 200ms ease-in;
}

.logo {
  width: 5em;
  padding: 1em 0px;
  display: block;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--nav-color);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  background: var(--nav-background);
  box-shadow: #00000041 0em .5em 20px;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-right: 1em;
}

nav a {
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav .enroll {
  font-size: 1em;
}

.enroll {
  padding: .5em 1.8em;
  border-radius: .4em;
  background-image: linear-gradient(45deg, var(--color-accent-5-light), 10%, var(--color-accent-1-light), 90%, var(--color-accent-5-light));
  font-weight: bold;
  font-size: 1.25em;
  color: black;
  text-decoration: none;
  cursor: pointer;
  background-size: 200%;
  background-position: left;
  transition: background-position 200ms ease-in;
}

.enroll:hover {
  color: inherit;
  background-position: right;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: .2fr auto minmax(600px, 3fr) .2fr;
    border-radius: 0px 0px 2rem 2rem;
    position: fixed;
  }

  header.nav-start {
    background-color: transparent;
    box-shadow: none;
  }

  header.nav-start:hover {
    background-color: var(--color-primary);
    box-shadow: #00000041 0em .5em 20px;
  }
  
  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
    all: unset; /* this causes issues with Edge, since it's unsupported */
    
    /* the following lines are not from my video, but add Edge support */
    /* position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial; */
    /* end Edge support stuff */
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a:not(.enroll)::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

/* hero section */

.hero {
  display: flex;
  flex-direction: column;
  color: var(--color-tertiary);
  background-color: var(--color-secondary);
  min-height: calc(100vh - 60px);
  background-image: linear-gradient(45deg, var(--color-accent-2-light), var(--color-accent-3-light));
  overflow: hidden;


  /* background-image: url('Images/Lyrn_Topics.png');
  background-size: cover;
  background-position: 80%;
  position: relative; */
}

.hero a {
  display: inline-block;
}

.hero__body {
  max-width: 100%;
  z-index: 2;
}

.hero__intro {
  z-index: 2;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.76);
  padding: 2em;
  border-radius: 1em;
  color: var(--color-tertiary);
}

.hero__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  visibility: hidden;
}

.hero__background .background-main.mobile {
  visibility: visible;
}

.hero__background .background-main {
  width: 15em;
  height: 3em;
  border-radius: 1em;
  box-shadow: 1em 1em 20px #00000040;
  position: absolute;
  color: white;
  text-align: center;
  font-size: 1.5em;
  font-weight: 900;
  padding: .75em 0em .75em 1em;
  z-index: 1;
}

.hero__background .background-main::before {
  content: '✓';
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  text-align: center;
  margin-right: 1em;
  position: absolute;
  top: .75em;
  left: 1em;
  padding: .1em;
  background-color: white;
}

.hero__background .background-main:nth-child(13) {
  top: 90%;
  left: 15%;
  background-color: var(--color-accent-1-light);
}
.hero__background .background-main:nth-child(13)::before {
  color: var(--color-accent-1-light);
}
.hero__background .background-main:nth-child(14) {
  top: 53%;
  left: -20%;
  background-color: var(--color-accent-2-light);
}
.hero__background .background-main:nth-child(14)::before {
  color: var(--color-accent-2-light);
}
.hero__background .background-main:nth-child(15) {
  top: 60%;
  left: 33%;
  background-color: var(--color-accent-3-light);
}
.hero__background .background-main:nth-child(15)::before {
  color: var(--color-accent-3-light);
}
.hero__background .background-main:nth-child(16) {
  top: 8%;
  left: 31%;
  background-color: var(--color-accent-4-light);
}
.hero__background .background-main:nth-child(16)::before {
  color: var(--color-accent-4-light);
}
.hero__background .background-main:nth-child(17) {
  top: 75%;
  left: -5%;
  background-color: var(--color-accent-5-light);
}
.hero__background .background-main:nth-child(17)::before {
  color: var(--color-accent-5-light);
}

@media screen and (min-width: 800px) {

  .hero {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(45deg, var(--color-accent-2-light), var(--color-accent-3-light));
  }

  .hero__intro {
    max-width: 50em;
    margin-left: 10%;
  }

  .hero__intro h1 {
    margin-bottom: .25em;
    /* background: linear-gradient(45deg, var(--color-accent-4-light), var(--color-accent-5-light));;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* text-shadow: .25em .25em 20px #00000040; */

  }

  .hero__intro h4 {
    max-width: 70%;
    margin-bottom: 1em;
    /* background: linear-gradient(45deg, var(--color-accent-4-light), var(--color-accent-5-light));;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }

  .hero__intro .enroll {
    width: 100%;
    text-align: center;
    /* background-color: var(--color-primary);
    background-image: none; */
  }

  .hero__body {
    display: none;
    max-width: 40%;
  }

  .hero__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    visibility: visible;
  }

  .hero__background .background-item {
    height: 2.5em;
    background-color: var(--color-primary);
    color: #BCBCBC;
    border-radius: .5em;
    border: 1px solid #BCBCBC;
    box-shadow: 1em 1em 20px #00000040;
    position: absolute;
    text-align: center;
    padding: .5em 1em .5em 3em;
    white-space: nowrap;
  }

  .hero__background .background-item::before {
    content: '✓';
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    text-align: center;
    background-color: #BCBCBC;
    color: var(--color-primary);
    margin-right: 1em;
    position: absolute;
    top: .625em;
    left: 1em;
  }


  .hero__background .background-main {
    width: 15em;
    height: 3em;
    border-radius: 1em;
    box-shadow: 1em 1em 20px #00000040;
    position: absolute;
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    padding: .75em 0em .75em 1em;
    z-index: 1;
  }

  .hero__background .background-main::before {
    content: '✓';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    text-align: center;
    margin-right: 1em;
    position: absolute;
    top: .75em;
    left: 1em;
    padding: .1em;
    background-color: white;
  }

  .hero__background .background-item:nth-child(n+1):nth-child(-n+17) {
    animation: center-background-slide 120s linear infinite;
  }
  .hero__background .background-main:nth-child(n+1):nth-child(-n+17) {
    animation: center-background-slide 80s linear infinite;
  }

  .hero__background .background-item:nth-child(n+18):nth-child(-n+34) {
    animation: left-background-slide 120s linear infinite;
  }
  .hero__background .background-main:nth-child(n+18):nth-child(-n+34) {
    animation: left-background-slide 80s linear infinite;
  }

  .hero__background .background-item:nth-child(n+35):nth-child(-n+51) {
    animation: right-background-slide 120s linear infinite;
  }
  .hero__background .background-main:nth-child(n+35):nth-child(-n+51) {
    animation: right-background-slide 80s linear infinite;
  }

  /* center items start */

  .hero__background .background-item:nth-child(1) {
    top: 30%;
    left: 30%;
  }
  .hero__background .background-item:nth-child(2) {
    top: 40%;
    left: 90%;
  }
  .hero__background .background-item:nth-child(3) {
    top: 10%;
    left: -5%;
  }
  .hero__background .background-item:nth-child(4) {
    top: 12%;
    left: 20%;
  }
  .hero__background .background-item:nth-child(5) {
    top: 50%;
    left: 5%;
  }
  .hero__background .background-item:nth-child(6) {
    top: 55%;
    left: 55%;
  }
  .hero__background .background-item:nth-child(7) {
    top: 70%;
    left: 25%;
  }
  .hero__background .background-item:nth-child(8) {
    top: 75%;
    left: 90%;
  }
  .hero__background .background-item:nth-child(9) {
    top: 85%;
    left: 65%;
  }
  .hero__background .background-item:nth-child(10) {
    top: 25%;
    left: 80%;
  }
  .hero__background .background-item:nth-child(11) {
    top: 95%;
    left: 10%;
  }
  .hero__background .background-item:nth-child(12) {
    top: 20%;
    left: 55%;
  }
  .hero__background .background-main:nth-child(13) {
    top: 80%;
    left: 5%;
    background-color: var(--color-accent-1-light);
  }
  .hero__background .background-main:nth-child(13)::before {
    color: var(--color-accent-1-light);
  }
  .hero__background .background-main:nth-child(14) {
    top: 35%;
    left: 40%;
    background-color: var(--color-accent-2-light);
  }
  .hero__background .background-main:nth-child(14)::before {
    color: var(--color-accent-2-light);
  }
  .hero__background .background-main:nth-child(15) {
    top: 50%;
    left: 85%;
    background-color: var(--color-accent-3-light);
  }
  .hero__background .background-main:nth-child(15)::before {
    color: var(--color-accent-3-light);
  }
  .hero__background .background-main:nth-child(16) {
    top: 15%;
    left: 10%;
    background-color: var(--color-accent-4-light);
  }
  .hero__background .background-main:nth-child(16)::before {
    color: var(--color-accent-4-light);
  }
  .hero__background .background-main:nth-child(17) {
    top: 70%;
    left: 60%;
    background-color: var(--color-accent-5-light);
  }
  .hero__background .background-main:nth-child(17)::before {
    color: var(--color-accent-5-light);
  }

  @keyframes center-background-slide {
    0% {
      transform: translateX(0vw);
    }
    17% {
      transform: translateX(-50vw);
    }
    33% {
      transform: translateX(-100vw);
      opacity: 1;
    }
    49% {
      transform: translateX(-150vw);
      opacity: 0;
    }
    51% {
      transform: translateX(150vw);
      opacity: 0;
    }
    67% {
      transform: translateX(100vw);
      opacity: 1;
    }
    83% {
      transform: translateX(50vw);
    }
    100% {
      transform: translateX(0vw);
    }
  }
  /* center items end */

  /* left items start */
  .hero__background .background-item:nth-child(18) {
    top: 30%;
    left: -70%;
  }
  .hero__background .background-item:nth-child(19) {
    top: 40%;
    left: -10%;
  }
  .hero__background .background-item:nth-child(20) {
    top: 10%;
    left: -105%;
  }
  .hero__background .background-item:nth-child(21) {
    top: 12%;
    left: -80%;
  }
  .hero__background .background-item:nth-child(22) {
    top: 50%;
    left: -95%;
  }
  .hero__background .background-item:nth-child(23) {
    top: 55%;
    left: -45%;
  }
  .hero__background .background-item:nth-child(24) {
    top: 70%;
    left: -75%;
  }
  .hero__background .background-item:nth-child(25) {
    top: 75%;
    left: -10%;
  }
  .hero__background .background-item:nth-child(26) {
    top: 85%;
    left: -35%;
  }
  .hero__background .background-item:nth-child(27) {
    top: 25%;
    left: -20%;
  }
  .hero__background .background-item:nth-child(28) {
    top: 95%;
    left: -90%;
  }
  .hero__background .background-item:nth-child(29) {
    top: 20%;
    left: -45%;
  }
  .hero__background .background-main:nth-child(30) {
    top: 80%;
    left: -95%;
    background-color: var(--color-accent-1-light);
  }
  .hero__background .background-main:nth-child(30)::before {
    color: var(--color-accent-1-light);
  }
  .hero__background .background-main:nth-child(31) {
    top: 35%;
    left: -60%;
    background-color: var(--color-accent-2-light);
  }
  .hero__background .background-main:nth-child(31)::before {
    color: var(--color-accent-2-light);
  }
  .hero__background .background-main:nth-child(32) {
    top: 50%;
    left: -15%;
    background-color: var(--color-accent-3-light);
  }
  .hero__background .background-main:nth-child(32)::before {
    color: var(--color-accent-3-light);
  }
  .hero__background .background-main:nth-child(33) {
    top: 15%;
    left: -90%;
    background-color: var(--color-accent-4-light);
  }
  .hero__background .background-main:nth-child(33)::before {
    color: var(--color-accent-4-light);
  }
  .hero__background .background-main:nth-child(34) {
    top: 70%;
    left: -40%;
    background-color: var(--color-accent-5-light);
  }
  .hero__background .background-main:nth-child(34)::before {
    color: var(--color-accent-5-light);
  }

  @keyframes left-background-slide {
    0% {
      transform: translateX(0vw);
      opacity: 1;
    }
    16% {
      transform: translateX(-50vw);
      opacity: 0;
    }
    18% {
      transform: translateX(250vw);
      opacity: 0;
    }
    33% {
      transform: translateX(200vw);
      opacity: 1;
    }
    50% {
      transform: translateX(150vw);
    }
    67% {
      transform: translateX(100vw);
    }
    83% {
      transform: translateX(50vw);
    }
    100% {
      transform: translateX(0vw);
    }
  }
  /* left items end */

  /* right items start */
  .hero__background .background-item:nth-child(35) {
    top: 30%;
    left: 130%;
  }
  .hero__background .background-item:nth-child(36) {
    top: 40%;
    left: 190%;
  }
  .hero__background .background-item:nth-child(37) {
    top: 10%;
    left: 95%;
  }
  .hero__background .background-item:nth-child(38) {
    top: 12%;
    left: 120%;
  }
  .hero__background .background-item:nth-child(39) {
    top: 50%;
    left: 105%;
  }
  .hero__background .background-item:nth-child(40) {
    top: 55%;
    left: 155%;
  }
  .hero__background .background-item:nth-child(41) {
    top: 70%;
    left: 125%;
  }
  .hero__background .background-item:nth-child(42) {
    top: 75%;
    left: 190%;
  }
  .hero__background .background-item:nth-child(43) {
    top: 85%;
    left: 165%;
  }
  .hero__background .background-item:nth-child(44) {
    top: 25%;
    left: 180%;
  }
  .hero__background .background-item:nth-child(45) {
    top: 95%;
    left: 110%;
  }
  .hero__background .background-item:nth-child(46) {
    top: 20%;
    left: 155%;
  }
  .hero__background .background-main:nth-child(47) {
    top: 80%;
    left: 105%;
    background-color: var(--color-accent-1-light);
  }
  .hero__background .background-main:nth-child(47)::before {
    color: var(--color-accent-1-light);
  }
  .hero__background .background-main:nth-child(48) {
    top: 35%;
    left: 140%;
    background-color: var(--color-accent-2-light);
  }
  .hero__background .background-main:nth-child(48)::before {
    color: var(--color-accent-2-light);
  }
  .hero__background .background-main:nth-child(49) {
    top: 50%;
    left: 185%;
    background-color: var(--color-accent-3-light);
  }
  .hero__background .background-main:nth-child(49)::before {
    color: var(--color-accent-3-light);
  }
  .hero__background .background-main:nth-child(50) {
    top: 15%;
    left: 110%;
    background-color: var(--color-accent-4-light);
  }
  .hero__background .background-main:nth-child(50)::before {
    color: var(--color-accent-4-light);
  }
  .hero__background .background-main:nth-child(51) {
    top: 70%;
    left: 160%;
    background-color: var(--color-accent-5-light);
  }
  .hero__background .background-main:nth-child(51)::before {
    color: var(--color-accent-5-light);
  }

  @keyframes right-background-slide {
    0% {
      transform: translateX(0vw);
    }
    17% {
      transform: translateX(-50vw);
    }
    33% {
      transform: translateX(-100vw);
    }
    50% {
      transform: translateX(-150vw);
    }
    67% {
      transform: translateX(-200vw);
      opacity: 1;
    }
    82% {
      transform: translateX(-250vw);
      opacity: 0;
    }
    84% {
      transform: translateX(50vw);
      opacity: 0;
    }
    100% {
      transform: translateX(0vw);
      opacity: 1;
    }
  }
  /* right items end */
}

/* method section */

.method {
  color: var(--color-primary);
  background-color: var(--color-tertiary);
  text-align: center;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.method .title {
  color: var(--color-accent-1-deep);
}

.method img {
  margin-top: 3em;
  /* position: relative;
  top: 5em; */
}

@media screen and (min-width: 800px) {
  .method .description {
    max-width: 50%;
  }

  .method img {
    max-width: 60%;
    min-width: 700px;
  }
}

/* about section */

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  /* min-height: 80vh; */
  height: auto;
  padding: 2em 1em 2em 3em;
  background-color: var(--color-primary);
}

.about h2 {
  justify-self: flex-start;
  align-self: center;
}

.about-details {
  position: relative;
}

.about-details .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: .5em;
  padding: .5em;
  position: relative;
}

.about-details .summary {
  width: 100%;
  cursor: pointer;
  color: #C4C4C4;
}

.about-details .summary:hover {
  color: inherit;
}

.about-details .about_toggle:checked ~ .summary {
  color: inherit;
}

.about-details .summary h3 {
  margin: 0;
}

.about-details .about_toggle {
  position: absolute;
  z-index: -10;
  opacity: 0;
}

.about-details .content {
  max-height: 0px;
  overflow: hidden;
}

.about-details .content * {
  opacity: 0;
}

.about-details .about_toggle:checked ~ .content {
  margin-top: 1em;
  max-height: 100vh;
  transition: max-height 800ms ease-in-out;
}

.about-details .about_toggle:checked ~ .content * {
  opacity: 1;
  transition: opacity 250ms ease-in-out 200ms;
}

.about-details > .details::before {
  content: '';
  position: absolute;
  left: -2.5em;
  top: .25em;
  width: 2em;
  height: 2em;
  display: inline-block;
  background-size: cover;
  background-position: 0 0;
}

.about-details > .details:nth-child(1)::before {
  background-image: url('Images/Lyrn_Green_Check.png');
}

.about-details > .details:nth-child(2)::before {
  background-image: url('Images/Lyrn_Blue_Check.png');
}

.about-details > .details:nth-child(3)::before {
  background-image: url('Images/Lyrn_Red_Check.png');
}

.about-details img {
  padding: 1em 0;
}

.about-details .content::after {
  content: '';
  background-image: linear-gradient(45deg, #ffca02, 65%, #ea5a5a);
  height: 4px;
  width: 100%;
  display: block;
  margin: 1em 0;
  animation: slider 8s linear;
  animation-play-state: paused;
}

.about-details .content.remove::after {
  content: none;
}


.about-details .about_toggle:checked~.content::after {
  animation-play-state: running;
}

.about-details .details:hover .about_toggle:checked~.content::after {
  animation-play-state: paused;
}

@keyframes slider {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {

  .about-details {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .about h2 {
    margin-bottom: 1em;
  }

  .about-details > .details {
    max-width: 40%;
    position: relative;
    left: 50%;
  }

  .about-details > .details:first-child {
    margin-top: 4em;
  }

  .about-details > .details:last-child {
    margin-bottom: 4em;
  }

  .about-details > .details img {
    position: fixed;
    right: calc(50% + 4em);
    top: 50%;
    transform: translateY(-50%);
    max-height: 100%;
    max-width: 45%;
    padding: 0;
  }
}

/* tutors section */

.tutors {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  text-align: center;
}

.tutors .title {
  color: var(--color-accent-1-deep);
}

.tutors .breakdown {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tutors .breakdown div {
  /* max-height: min-content; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tutors .breakdown .act-logo {
  grid-column: 1 / 3;
}

.tutors .breakdown h2 {
  margin-bottom: .1em;
}

.tutors .breakdown img {
  padding: 2em 2em;
  max-width: 300px;
}

@media screen and (min-width: 800px) {
  .tutors .breakdown {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .tutors .breakdown .act-logo {
    grid-column: 1 / 2;
  }

  .tutors .breakdown img {
    padding: 2em 2em;
  }
}

/* contact section */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-secondary);
  background-image: url("Images/Lyrn_contact_section_background.jpg");
  position: relative;
  color: var(--color-tertiary);
}

.contact *:not(.filter) {
  z-index: 1;
}

.contact .filter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.85);
}

.contact-form {
  background-color: var(--color-primary);
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  text-align: center;
  max-width: 375px;
}

.contact-form form {
  text-align: left;
  display: block;
  color: black;
}

.contact-form label {
  font-size: .75em;
  margin: 0;
}

.contact-form input, .contact-form textarea {
  background-color: var(--color-secondary);
  height: 2.5em;
  font-size: 1em;
  border: none;
  border-radius: .5em;
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  padding: 0 0.5em;
  color: var(--color-tertiary);
  margin: 0;
  width: 100%;
}

.contact-form textarea {
  height: 7.5em;
  resize: none;
  padding: 0.5em 0.5em;
}

.contact-form select {
  background-color: var(--color-secondary);
  height: 2.5em;
  font-size: 1em;
  border: none;
  border-radius: .5em;
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  padding: 0 1em 0 .5em;
  color: var(--color-tertiary);
  margin: 0;
  width: 100%;
  cursor: pointer;
}

.contact-form select:invalid {
  color: #5f5f5f;
}

.contact-form .select-wrapper {
  position: relative;
  padding-bottom: .3em;
}

.contact-form .select-wrapper::after {
  content: "";
  border: 2px solid black;
  border-top-style: none;
  border-left-style: none;
  height: .8em;
  width: .8em;
  display: inline-block;
  position: absolute;
  right: 1em;
  top: 25%;
  pointer-events: none;
  transform: rotateZ(45deg);
}

.contact-form input[type='submit'] {
  background-color: var(--color-accent-2-deep);
  color: white;
  cursor: pointer;
}

.contact p {
  margin: 1em 0em .5em;
}

@media screen and (min-width: 800px) {
  .contact {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .contact__intro {
    max-width: 30%;
    min-width: 200px;
    padding-right: 5em;
  }

  .contact-form {
    max-width: 25%;
    min-width: 400px;
  }

  .contact-form form {
    padding: 0 3em;
  }
}

/* help section */

.help {
  color: var(--color-tertiary);
  background-color: var(--color-primary);
  text-align: center;
}

.help .course-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 3em;
}

.help .course-grid .course-item {
  display: flex; 
  color: inherit;
  text-decoration: none;
  border-top: 2px solid #CECECE;
  padding: 1em;
  height: 3.5em;
  max-width: 500px;
}

.help .course-grid .course-item:nth-child(8) {
  border-bottom: 2px solid #CECECE;
}

.help .course-grid .course-item:hover {
  color: var(--color-accent-3-light);
  background-color: var(--color-secondary);
}

@media screen and (min-width: 800px) {
  .help .course-grid {
    grid-template-columns: 1fr 1fr;
  }

  .help .course-grid .course-item {
    margin: 0 10%;
  }

  .help .course-grid .course-item:nth-child(7) {
    border-bottom: 2px solid #CECECE;
  }
}

/* faq section */

.faq {
  color: var(--color-tertiary);
  background-color: var(--color-tertiary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq .title {
  text-align: center;
  color: var(--color-primary);
}

.faq .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--color-secondary);
  border-radius: .5em;
  margin: 1em 0;
  padding: 1em;
  position: relative;
  overflow: hidden;
}

.faq .summary {
  width: 100%;
  cursor: pointer;
}

.faq .summary::after {
  content: "";
  border: 2px solid black;
  border-top-style: none;
  border-left-style: none;
  height: .8em;
  width: .8em;
  display: block;
  position: absolute;
  right: 1em;
  top: 1.3em;
  pointer-events: none;
  transform: rotate(45deg);
  transform-origin: center;
  transition: transform 250ms linear;
}

.faq .summary h3 {
  margin: 0;
}

.faq .faq_toggle {
  position: absolute;
  z-index: -1;
}

.faq .content {
  background-color: var(--color-secondary);
  overflow: hidden;
  max-height: 0px;
}

.faq .content * {
  opacity: 0;
}

.faq .faq_toggle:checked ~ .content {
  margin-top: 1em;
  max-height: 400px;
  transition: max-height 800ms ease-in-out;
}

.faq .faq_toggle:checked ~ .content * {
  opacity: 1;
  transition: opacity 250ms ease-in-out 200ms;
}

.faq .faq_toggle:checked ~ .summary::after {
  transform: rotate(225deg);
}


@media screen and (min-width: 800px) {
  .faq .details {
    width: 70%;
  }
}

/* topics section */

.topics {
  background-image: url("Images/Lyrn_Topics.png");
  background-color: #68D3A3;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
}

/* footer */

footer {
  padding: 2em;
  color: #000;
  background-color: var(--color-secondary);
}

footer .links {
  display: flex;
  flex-direction: column;
}

footer .logo-box {
  max-width: 100px;
  height: 100px;
  border: 1px solid var(--color-tertiary);
  border-radius: .75em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer .copyright {
  text-align: center;
}

@media screen and (min-width: 800px) {
  footer .links {
    flex-direction: row;
    justify-content: space-around;
  }
}