@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "proxima-nova", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
}

label {
  display: inline-block;
  margin: 1em 0em 0em;
}

label[data-hint] {
  position: relative;
}

label[data-hint]::before {
  content: '?';
  display: inline-block;
  margin-right: .25em;
  padding: 3px 7px;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: #F2F2F2;
  /* border: 2px solid #F2F2F2; */
}

label[data-hint]::after {
  content: attr(data-hint);
  display: block;
  padding: .5em 1em;
  position: absolute;
  border: 2px solid #F2F2F2;
  width: 16em;
  top: 100%;
  left: 0%;
  background-color: white;
  visibility: hidden;
}

label[data-hint]:hover::after {
  visibility: visible;
}

input,
button {
  display: block;
  padding: .5em 1em;
  border: 2px solid #F2F2F2;
  border-radius: 0.5em;
  background-color: white;
  font-size: 1rem;
}

input {
  width: 100%
}

input[data-isvalid='false'],
search-input[data-isvalid='false'] {
  color: #D95454;
  border-color: #D95454;
}

.error-msg {
  position: relative;
}

.error-msg::before {
  content: attr(data-msg);
  display: block;
  padding: .5em 1em;
  position: absolute;
  width: 16em;
  top: 100%;
  left: 0%;
  background-color: #D95454;
  color: white;
  visibility: hidden;
}

input[data-isvalid='false']:hover + .error-msg::before,
search-input[data-isvalid='false']:hover + .error-msg::before {
  visibility: visible;
}

input[type='radio'],
input[type='checkbox'] {
  display: inline-block;
  width: auto;
}

main {
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section {
  flex: 1;
}

button {
  cursor: pointer;
}

search-input {
  width: 20em;
  /* margin-bottom: 1em; */
  display: block;
  background-color: white;
  color: black;
  border-color: #F2F2F2;
}

table > thead th {
  text-align: start;
}

#items-wrapper .description {
  width: 40em;
}

#items-wrapper .quantity {
  width: 6em;
}

#items-wrapper .price {
  width: 8em;
}

table td.remove > button {
  display: block;
  height: 1.5em;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 50%;
  border: none;
  position: relative;
  padding: 0;
  margin-bottom: 5px;
  font-size: 1em;
}

table td.remove > button::before,
table td.remove > button::after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background-color: #D95454;
  position: absolute;
  top: 13px;
}

table td.remove > button::before {
  transform: rotate(-45deg);
}

table td.remove > button::after {
  transform: rotate(45deg);
}

#events-wrapper > div {
  border: 2px solid #F2F2F2;
  padding: 0.5em 1em;
  width: max-content;
  margin-bottom: 1em;
}

#events-wrapper > div > label {
  margin: 0;
}

#super-secret {
  margin-top: 6em;
}

#super-secret.hidden {
  display: none;
}

#super-secret > textarea {
  width: 100%;
  height: 30em;
  font-size: 1em;
}