#pageLoading {
  display: none;
}

#pageLoading.loading {
  display: block;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top: 2px solid rgb(60, 137, 214);
  animation: spin .5s linear infinite;
  position: absolute;
  right: 2em;
  top: 2em;
}

input, label, select, button {
  display: block;
}

input, select, button {
  padding: .5em .5em;
  margin: 0em 0em 1em;
  border-radius: .5em;
  min-width: 20em;
  font-size: 1rem;
  border: 1px solid #DEDEDF;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label {
  font-size: 1.25em;
}

p.error {
  color: red;
  visibility: hidden;
}

body {
  padding: 2em;
}

.hasError {
  border-color: red;
}

button {
  cursor: pointer;
  background-color: rgb(74, 176, 216);
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}

button:focus {
  border-color: #719ECE;
}

button:disabled {
  background-color: rgb(53, 127, 156);
  cursor: not-allowed;
}

.loading-wrapper.loading {
  position: relative;
  width: min-content;
}

.loading-wrapper.loading::after {
  content: '';
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top: 2px solid lightslategray;
  animation: spin .5s linear infinite;
  position: absolute;
  right: -2.5em;
  top: 0%;
}