@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "proxima-nova", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

label {
  display: inline-block;
  margin: 1em 0em 0em;
}

input,
button {
  display: block;
  padding: .5em 1em;
  border: 2px solid #F2F2F2;
  border-radius: 0.5em;
  background-color: white;
  font-size: 1rem;
}

input {
  width: 100%
}

input[isvalid='false'] {
  color: #D95454;
  border-color: #D95454;
}

input[type='checkbox'] {
  display: inline-block;
  width: auto;
}

main {
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section {
  flex: 1;
}

button {
  cursor: pointer;
}

search-input {
  width: 20em;
  margin-bottom: 1em;
  display: block;
  background-color: white;
  color: black;
  border-color: slategray;
}

table > thead th {
  text-align: start;
}

#items-wrapper .description {
  width: 40em;
}

#items-wrapper .quantity {
  width: 6em;
}

#items-wrapper .price {
  width: 8em;
}

table td.remove > button {
  display: block;
  height: 1.5em;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 50%;
  border: none;
  position: relative;
  padding: 0;
  margin-bottom: 5px;
  font-size: 1em;
}

table td.remove > button::before,
table td.remove > button::after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background-color: #D95454;
  position: absolute;
  top: 13px;
}

table td.remove > button::before {
  transform: rotate(-45deg);
}

table td.remove > button::after {
  transform: rotate(45deg);
}

#super-secret {
  margin-top: 10em;
}

#super-secret.hidden {
  display: none;
}

#super-secret > textarea {
  width: 100%;
  height: 30em;
  font-size: 1em;
}