body {
  background-color: white;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#student-general-info {
  user-select: none;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 500px);
}

.expectation-input {
  font-size: 1em;
  font-weight: bold;
  width: 500px;
  height: 4.5em;
  border-width: 2px;
  display: block;
}

#generalStudentMessageDiv {
    width: calc(100% - 500px);
    height: 80vh;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    display: flex;
    flex-direction: column;
}

.studentMessageLabel {
  padding: 10px;
  color: white;
  border-radius: 10px 10px 0px 0px;
  margin: 0;
  background-color: #110D65;
}

.backgroundBlack {
  background-color: black;
}

.metaForm {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0px;
    right: 0px;
    width: 500px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    border-left-style: solid;
    border-left-width: 1.5px;
    /* border-top-left-radius: 11px;
    border-bottom-left-radius: 11px; */
}

.heading-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 8%; */
    background-color: #110D65;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 1%;
    /* border-top-left-radius: 10px; */
    align-self: stretch;
}

.lessonHeaders {
    height: 3%;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
    text-align: center;
    border-style: solid;
    border-width: 1px 0px 2px 0px;
}

.gridBox {
    border-style: solid;
    border-color: black;
    border-left-width: 0px;
    border-bottom-width: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    padding-right: 0.1em;
    padding-left: 3em;
}

.gridBox:nth-child(-n+2) {
    border-top-width: 0px;
}

.gridBox:nth-child(2n) {
    padding-left: 0em;
    align-items: center;
}

.sectionGridBox {
    border-style: solid;
    border-color: black;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.sectionGridBox:nth-child(-n+2) {
    border-top-width: 0px;
}

.sectionGridBox:nth-child(2n) {
  border-right-width: 1.5px;
}

.headerGridBox {
    border-style: solid;
    border-color: black;
    border-left-width: 0px;
    border-bottom-width: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}

.headerGridBox:nth-child(-n+2) {
    border-top-width: 0px;
}

.tests {
    height: 89%;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-auto-rows: auto;
    overflow-y: auto;
    /* border-top-left-radius: 11px;
    border-bottom-left-radius: 11px; */
}

.button2 {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0%;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: rgb(252, 241, 81);
}

#heading-block, a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.button {
    width: 140px;
    height: 28px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #110D65;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
.button:hover {
    background-color: #6169E0;
    color: #fff;
    /* transform: translateY(-7px); */
}

/*.input-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
    align-items: center;
}

.formEnd {
    height: 7%;
    justify-content: space-between;
}*/

#studentProfilePic {
    height: 100px;
    width: 100px;
  }
  
  #fileLabel {
    position: absolute;
    bottom: -4px;
    right: 0px;
  }