@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600&display=swap');

:root {
  --nav-background: white;
  --nav-color: black;

  --color-primary: #ffffff;
  --color-secondary: #E6E7E8;
  --color-tertiary: #101b42;

  --color-accent-1-deep: #ffb102;
  --color-accent-2-deep: #27c13a;
  --color-accent-3-deep: #19a7c8;
  --color-accent-4-deep: #6b6be5;
  --color-accent-5-deep: #ef6b6b;

  --color-accent-1-light: #ffca02;
  --color-accent-2-light: #3cdd58;
  --color-accent-3-light: #02c6ff;
  --color-accent-4-light: #8787ff;
  --color-accent-5-light: #ea5a5a;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "proxima-nova", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  background-color: var(--color-secondary);
}

section {
  padding: 3em 1em;
}

a {
  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

details > summary::-webkit-details-marker { 
  display: none; 
}

details summary { 
  cursor: pointer;
  outline: none;
}

/* Typography */

h1, h2, h3, h4, h5, p {
  margin: 0 0 .5em;
  line-height: 1em;
}

h1 {
  font-size: 2.5rem;
  font-weight: 1000;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
}

h4 {
  font-size: 1.25rem;
  font-weight: 300;
}

h5 {
  font-size: 1rem;
  font-weight: 300;
}

p {
  font-size: 1rem;
}

li {
  position: relative;
  margin: 1em 0em;
  list-style: none;
}

li::before {
  content: '✓';
  text-align: center;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  position: absolute;
  right: calc(100% + 1em);
  top: 0em;
  color: white;
  background-color: black;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 5rem;
    font-weight: 1000;
  }
  
  h2 {
    font-size: 3rem;
    font-weight: 900;
  }
  
  h3 {
    font-size: 2rem;
    font-weight: 900;
  }
  
  h4 {
    font-size: 1.8rem;
    font-weight: 300;
  }
  
  h5 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  p {
    font-size: 1.1rem;
  }
}

/* navigation styles start here */

header {
  background: var(--nav-background);
  color: var(--nav-color);
  text-align: center;
  z-index: 999;
  width: 100%;
  box-shadow: #00000041 0em .5em 20px;
  transition: background-color 200ms ease-in;
  position: relative;
}

header li {
  margin: 0px;
}

header li::before {
  content: none;
}

.logo {
  width: 5em;
  padding: 1em 0px;
  display: block;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--nav-color);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  background: var(--nav-background);
  box-shadow: #00000041 0em .5em 20px;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-right: 1em;
}

nav a {
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav .enroll {
  font-size: 1rem;
}

.enroll {
  padding: .7em 1.8em;
  border-radius: .4em;
  background-image: linear-gradient(45deg, #ffca02, 65%, #ea5a5a);
  font-weight: bold;
  font-size: 1em;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: .2fr auto minmax(600px, 3fr) .2fr;
    border-radius: 0px 0px 2rem 2rem;
  }
  
  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
    all: unset; /* this causes issues with Edge, since it's unsupported */
    
    /* the following lines are not from my video, but add Edge support */
    /* position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial; */
    /* end Edge support stuff */
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a:not(.enroll)::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10em 2em;
  color: var(--color-tertiary);
}

.intro h2 {
  font-size: 1.5em;
  font-weight: 100;
}

.courses {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  text-align: center;
}

.courses a {
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.course-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.course-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-card {
  padding: 3em 0em;
  margin: 2em 0em;
  width: 100%;
  border-radius: 1em;
  background-size: 200%;
  background-position: left;
  transition: background-position 200ms ease-in;
  cursor: pointer;
}

.course-card:hover {
  background-position: right;
  transform: scale(1.02);
}

.course-card.coming-soon {
  position: relative;
  overflow: hidden;
}

.course-card.coming-soon::after {
  content: 'Coming Soon';
  background-color: var(--color-accent-5-light);
  color: white;
  font-weight: 900;
  padding: .5em 3em;
  position: absolute;
  top: 2.5em;
  right: 2.5em;
  transform: translate(50%, -50%) rotate(45deg);
  transform-origin: center;
  border-radius: 1em;
}

.course-card h2 {
  margin: 0;
  font-size: 2.5rem;
}

.course-wrapper p, .course-wrapper h3 {
  max-width: 80%;
}

.blueish {
  background-image: linear-gradient(45deg, var(--color-accent-4-deep), var(--color-accent-3-light), var(--color-accent-4-deep));
}

.redish {
  background-image: linear-gradient(45deg, var(--color-accent-5-light), var(--color-accent-1-light), var(--color-accent-5-light));
}

/* ACT section */

.course-section {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 5em 1em;
}

.course-section h1 {
  margin-bottom: 0px;
  color: var(--color-tertiary);
}

.course-section h2 {
  color: #AAAAAA;
  font-size: 2.5em;
  margin-top: .5em;
  text-align: center;
}

.course-section h3 {
  font-size: 2.25em;
  color: var(--color-tertiary);
}

.course-section h4 {
  font-size: 1.75em;
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 2em;
  overflow: hidden;
  padding: 2em 2em 0em;
}

.intro-wrapper .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.intro-wrapper .title .price {
  font-size: 3em;
  color: var(--color-accent-2-deep);
}

.intro-wrapper .feature-wrapper ul {
  margin: 0px;
}

#act .intro-wrapper li::before {
  background: var(--color-accent-3-light);
}

#subjectTutoring .intro-wrapper li::before {
  background: var(--color-accent-1-light);
}

.intro-wrapper .bottom {
  width: calc(100% + 6em);
  height: 2em;
}

#act .intro-wrapper .bottom {
  background-image: linear-gradient(90deg, var(--color-accent-3-light), var(--color-accent-4-deep));
}

#subjectTutoring .intro-wrapper .bottom {
  background-image: linear-gradient(90deg, var(--color-accent-5-light), var(--color-accent-1-light));
}

#act .node {
  width: 1.5em;
  height: 1.5em;
  background-color: #AAAAAA;
  border-radius: 50%;
  margin-top: 3.5em;
  position: relative;
}

#act .node::before {
  content: '';
  width: .25em;
  height: 4em;
  background-color: #AAAAAA;
  position: absolute;
  bottom: calc(100% - .5em);
  left: .625em;
}

#subjectTutoring .node {
  content: '';
  width: .25em;
  height: 4em;
  background-color: #AAAAAA;
  bottom: calc(100% - .5em);
  left: .625em;
}

#act-plans {
  position: absolute;
  z-index: -99;
  visibility: hidden;
}

.actPlansHint {
  display: none;
  padding: 3em;
  border: 2px solid #AAAAAA;
  position: relative;
}

#act .hint {
  color: #AAAAAA;
  text-decoration: underline;
  cursor: pointer;
}

#act-plans:checked~.actPlansHint {
  display: block;
}

#act .actPlansHint .exit-hint {
  position: absolute;
  top: 0em;
  right: .25em;
  cursor: pointer;
  color: #AAAAAA;
  font-size: 2em;
}

.plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 2;
}

.plan-wrapper {
  background-color: var(--color-primary);
  border-radius: 2em;
  border: 7px solid #C1C1C1;
  padding: 2em;
  margin-top: 3em;
  position: relative;
  width: 100%;
}

#subjectTutoring .plan-wrapper {
  margin: 0px;
}

.plan-wrapper .title {
  text-align: right;
}

.plan-wrapper .title h4 {
  font-size: 1.5em;
  font-weight: 900;
  color: var(--color-accent-2-deep);
}

.plan-wrapper .length {
  text-align: center;
  border-top: 2px solid #C2C2C2;
  border-bottom: 2px solid #C2C2C2;
  padding: 1em 0em;
}

.plan-wrapper .length h4{
  color: #C2C2C2;
  font-size: 1.5em;
  font-weight: 900;
  font-style: italic;
}

.plan-wrapper .length h5{
  font-size: 1.5em;
  font-weight: 900;
}

.plan-wrapper .discount-wrapper {
  border-radius: 1em;
  background-color: #C1C1C1;
  color: white;
  text-align: center;
  padding: .5em;
  margin-top: 1em;
  width: max-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.plan-wrapper .discount-wrapper * {
  margin: 0px;
  color: white;
}

.plan-wrapper .select {
  color: white;
  background-color: var(--color-tertiary);
  text-align: center;
  padding: 1em;
  border-radius: 1em;
  cursor: pointer;
  margin-top: 2em;
}

#subjectTutoring .plan-wrapper .select {
  margin: 0px;
  background-image: linear-gradient(90deg, var(--color-accent-5-light), var(--color-accent-1-light));
}

.plan-wrapper .select * {
  color: white;
  margin: 0px;
}

#act .plan-wrapper.comprehensive {
  border: none;
  width: calc(100% - 14px);
  margin: calc(3em + 7px) 7px 7px 7px;
}

#act .plan-wrapper.comprehensive::after {
  position: absolute;
  top: -7px; bottom: -7px;
  left: -7px; right: -7px;
  background: linear-gradient(45deg, var(--color-accent-3-light), var(--color-accent-4-light));
  content: '';
  z-index: -1;
  border-radius: calc(2em + 7px);
}

#act .plan-wrapper.comprehensive .title h3 {
  color: var(--color-accent-3-light);
}

#act .plan-wrapper.comprehensive .length h5 {
  color: var(--color-accent-3-light);
}

#act .plan-wrapper.comprehensive li::before {
  background: var(--color-accent-3-light);
}

#act .plan-wrapper.comprehensive .select {
  background-image: linear-gradient(45deg, var(--color-accent-3-light), 70%, var(--color-accent-4-light));
}

.steps {
  margin-top: 2em;
}

.steps .title {
  background-color: var(--color-primary);
  padding: 1em;
  border-radius: 1em;
  width: 100%;
  margin: 1em 0em;
}

.steps .title.one h1 {
  color: var(--color-accent-1-deep);
}

.steps .title.two h1 {
  color: var(--color-accent-2-deep);
}

.steps .title.three h1 {
  color: var(--color-accent-3-deep);
}

.steps .title.four h1 {
  color: var(--color-accent-4-deep);
}

.steps .title.five h1 {
  color: var(--color-accent-5-deep);
}

.steps p, .steps .list-wrapper {
  font-size: 1.25em;
  width: 90%;
  margin-left: 5%;
}

.steps .list-wrapper li::before {
  background-color: #939393;
}


@media screen and (min-width: 800px) {
  .course-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }

  .course-block {
    padding: 0em 2em;
    width: 50%;
  }

  .course-section {
    padding: 5em 10%;
  }

  .intro-wrapper {
    padding: 3em 3em 0em;
  }

  .intro-wrapper .title {
    flex-direction: row;
    justify-content: space-between;
  }

  .intro-wrapper .feature-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .intro-wrapper .feature-wrapper ul {
    margin: 0px 3em;
  }

  .plans {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }

  #act .plans::before {
    content: '';
    position: absolute;
    height: calc(100% - 3em);
    width: 4px;
    left: calc(50% - 2px);
    top: 3em;
    z-index: 2;
    background-color: #AAAAAA;
  }

  .plan-wrapper {
    margin: 3em 0em;
  }

  #act .plan-wrapper:first-child {
    margin-right: 6em;
  }

  #act .plan-wrapper.fundamentals {
    transform: translateY(-7px);
  }

  .plan-wrapper ul {
    margin: 1.5em;
  }

  .steps {
    padding: 0em 5em;
    border-left: 2px solid white;
  }

  .steps h1 {
    font-size: 3em;
  }

  .steps .title {
    padding: 2em 3em;
    position: relative;
  }

  .steps .title::after {
    content: '✓';
    text-align: center;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    font-size: 2.5em;
    position: absolute;
    right: 1em;
    top: calc(50% - .625em);
    color: white;
  }

  .steps .title.one::after {
    background-color: var(--color-accent-1-deep);
  }

  .steps .title.two::after {
    background-color: var(--color-accent-2-deep);
  }

  .steps .title.three::after {
    background-color: var(--color-accent-3-deep);
  }

  .steps .title.four::after {
    background-color: var(--color-accent-4-deep);
  }

  .steps .title.five::after {
    background-color: var(--color-accent-5-deep);
  }

  .steps .title::before {
    text-align: center;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    font-size: 2.5em;
    position: absolute;
    left: -2.75em;
    top: calc(50% - .75em);
    color: white;
    z-index: 2;
  }


  .steps .title.one::before {
    background-color: var(--color-accent-1-deep);
    content: '1';
  }

  .steps .title.one+p {
    position: relative;
  }

  .steps .title.one+p::before {
    content: '';
    background-color: var(--color-secondary);
    position: absolute;
    right: 110%;
    top: -12em;
    width: 100%;
    height: 8em;
  }

  .steps .title.two::before {
    background-color: var(--color-accent-2-deep);
    content: '2';
  }

  .steps .title.three::before {
    background-color: var(--color-accent-3-deep);
    content: '3';
  }

  .steps .title.four::before {
    background-color: var(--color-accent-4-deep);
    content: '4';
  }

  .steps .title.five::before {
    background-color: var(--color-accent-5-deep);
    content: '5';
  }

  .steps .title.last+p {
    position: relative;
  }

  .steps .title.last+p::before {
    content: '';
    background-color: var(--color-secondary);
    position: absolute;
    right: 110%;
    top: -2.5em;
    width: 100%;
    height: calc(100% + 4em);
  }

  .steps .list-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0em 0em 1em 3em;
  }

  .steps .list-wrapper ul{
    margin: 0em 2em;
  }

  .steps p {
    padding: 0em 0em 1em 3em;
  }
  
  .steps div+p {
    padding: 1em 0em 1em 3em;
  }
}



/* topics section */

.topics {
  background-image: url("Images/Lyrn_Topics.png");
  background-color: #68D3A3;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
}

/* footer */

footer {
  padding: 2em;
  color: #000;
  background-color: var(--color-secondary);
}

footer .links {
  display: flex;
  flex-direction: column;
}

footer .logo-box {
  max-width: 100px;
  height: 100px;
  border: 1px solid var(--color-tertiary);
  border-radius: .75em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  margin: 0px;
}

footer li::before {
  content: none;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer .copyright {
  text-align: center;
}

@media screen and (min-width: 800px) {
  footer .links {
    flex-direction: row;
    justify-content: space-around;
  }
}