@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600&display=swap');

:root {
  --nav-background: white;
  --nav-color: black;

  --color-primary: #ffffff;
  --color-secondary: #E6E7E8;
  --color-tertiary: #101b42;

  --color-accent-1-deep: #ffb102;
  --color-accent-2-deep: #27c13a;
  --color-accent-3-deep: #19a7c8;
  --color-accent-4-deep: #6b6be5;
  --color-accent-5-deep: #ef6b6b;

  --color-accent-1-light: #ffca02;
  --color-accent-2-light: #3cdd58;
  --color-accent-3-light: #02c6ff;
  --color-accent-4-light: #8787ff;
  --color-accent-5-light: #ea5a5a;

  --color-accent-yellow-veryLight: #FFF4CC;
  --color-accent-green-veryLight: #CCFFD5;
  --color-accent-blue-veryLight: #CCF4FF;
  --color-accent-purple-veryLight: #CCCCFF;
  --color-accent-red-veryLight: #FFCCCC;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "proxima-nova", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  background-color: var(--color-secondary);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-accent-4-deep);
}

img {
  display: block;
  max-width: 100%;
}

details > summary::-webkit-details-marker { 
  display: none; 
}

details summary { 
  cursor: pointer;
  outline: none;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 5%;
  background-position: left;
  background-size: 1100%;
  background-image: linear-gradient(45deg, var(--color-accent-2-light), var(--color-accent-3-light), var(--color-accent-4-deep), var(--color-accent-3-light), var(--color-accent-2-light), var(--color-accent-3-light), var(--color-accent-4-deep), var(--color-accent-3-light));
  animation: gradient-background 30s linear infinite;
  overflow-y: auto;
}

@keyframes gradient-background {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.intro {
  color: white;
  font-size: 1.5em;
  font-weight: 900;
  padding: 1em 0em;
  align-self: flex-start;
}

.intro .logo {
  width: min-content;
}

.intro .logo img {
  height: 1.5em;
}

.info {
  display: none;
}

.info li {
  margin: 1em 0em;
}

.info h2, .info p {
  margin: 0;
}

.info p {
  font-size: .75em;
  color: black;
}

#signup {
  background-color: white;
  border-radius: 1em;
  padding: 4% 3%;
  max-width: 100%;
  /* max-height: 100%; */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.30);
}

#signup h1 {
  margin: 0;
  font-size: 3em;
  background: linear-gradient(45deg, var(--color-accent-3-light), var(--color-accent-4-deep));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  text-align: center;
  border-bottom: 1px solid var(--color-secondary);
}

#signup h2 {
  text-align: center;
  margin: .3em;
}

#signup input, #signup label {
  display: block;
}

#signup .radios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2em;
}

#signup .radios input {
  margin-right: 1em;
  position: absolute;
  z-index: -1;
  top: -9999px;
  left: -9999px;
}

#signup .radios label {
  margin: 0em 1em;
  padding: .5em 2em;
  border: 2px solid var(--color-secondary);
  border-radius: 1em;
  font-size: 1em;
}

#signup .radios input:checked+label {
  border: 2px solid var(--color-accent-2-deep);
  background-color: var(--color-accent-green-veryLight);
  /* background-color: var(--color-accent-2-light); */
}

#signup input[type='radio'], #signup input[type='radio']+label {
  display: inline-block;
}

#signup input:not([type='radio']):not([type='submit']) {
  font-size: 1em;
  height: 2em;
  width: 100%;
  padding: .5em;
  margin-bottom: 1em;
  border-radius: .5em;
  border: 2px solid var(--color-secondary);
}

#signup label {
  font-size: .9em;
}

#signup input[type='submit'] {
  width: 100%;
  padding: .75em;
  border-radius: .5em;
  border: none;
  background-color: var(--color-accent-2-deep);
  color: white;
  font-size: 1em;
  cursor: pointer;
}

#signup .error {
  color: var(--color-accent-5-light);
}

#signup .have-account {
  text-align: center;
}

@media screen and (min-width: 800px) {
  .register {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .intro {
    padding: 2em;
    align-self: auto;
  }

  .intro .logo img {
    margin-left: 1.5em;
  }

  .info {
    display: block;
  }
}
