@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --nav-background: white;
  --nav-color: black;

  --color-primary: #ffffff;
  --color-secondary: #e7e8e9;
  --color-tertiary: #101b42;

  --color-accent-1-deep: #ffb102;
  --color-accent-2-deep: #27c13a;
  --color-accent-3-deep: #19a7c8;
  --color-accent-4-deep: #6b6be5;
  --color-accent-5-deep: #ef6b6b;

  --color-accent-1-light: #ffca02;
  --color-accent-2-light: #3cdd58;
  --color-accent-3-light: #02c6ff;
  --color-accent-4-light: #8787ff;
  --color-accent-5-light: #ea5a5a;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.5rem;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  background-color: var(--color-secondary);
}

img {
  width: 100%;
}

a {
  cursor: pointer;
}

.sign-in {
  background: url('Images/Lyrn-Log-In.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in .wrapper {
  width: 40%;
  max-width: 600px;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5em;
  border-radius: 1em;
  overflow: hidden;
  position: relative;
}

/* .sign-in .wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 1em;
  display: block;
  background-color: var(--color-tertiary);
} */

.sign-in .logo {
  min-width: 200px;
  width: 40%;
  margin: 1.5em 0em;
}

.sign-in label {
  align-self: flex-start;
  font-size: .75em;
  margin: 0;
  margin-left: 1em;
  margin-top: 1.5em;
  color: #acacac;
}

.sign-in input {
  height: 3em;
  font-size: 1em;
  border: 2px solid #acacac;
  border-radius: .5em;
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  padding: 0 0.5em;
  color: var(--color-tertiary);
  margin: 0;
  width: 100%;
}

.sign-in .forgot {
  text-decoration: underline;
  font-size: .75em;
  align-self: flex-start;
  margin-left: 1em;
  cursor: pointer;
}

.sign-in .error {
  color: var(--color-accent-5-light);
  font-size: .75em;
  display: none;
  margin-top: 0;
  margin-left: 1em;
  align-self: flex-start;
}

.sign-in .button {
  background-image: linear-gradient(45deg, #ffca02, 85%, #ea5a5a);
  width: 100%;
  padding: 1em;
  text-align: center;
  color: var(--color-primary);
  border-radius: .5em;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  body {
    font-size: .75em;
  }

  .sign-in .wrapper {
    width: 90%;
  }
}