body {
  background-color: white;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  /* height: 100vh; */
  width: 100vw;
}

#student-general-info {
  user-select: none;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.expectation-input {
  font-size: 1em;
  font-weight: bold;
  width: 500px;
  height: 4.5em;
  border-width: 2px;
}

#student-general-notes-div {
  margin: 50px 0px 50px 20px;
  width: 400px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
}

/* .section-notes-div {
  margin: 10px;
  flex: 1;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  max-width: 40%;
} */

.student-notes {
  height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px
}

.student-notes-label {
  padding: 10px;
  color: white;
  border-radius: 10px 10px 0px 0px;
  margin: 0;
}

.student-notes :first-child {
  margin-top: auto;
}

.student-notes .time {
  font-weight: 200;
  font-size: 12px;
  color: #8A8B8A;
  margin-bottom: 0;
}

.student-note {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 25px 5px 10px;
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  white-space: pre-wrap;
}

.student-note .delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  color: #C4CCE8;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 10px;
  font-weight: bold;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.student-note .author {
  position: relative;
  text-align: right;
  font-weight: 200;
  font-size: 12px;
  color: #8A8B8A;
  right: -20px;
  margin-bottom: 0;
}

.student-notes .right {
  align-self: flex-end;
  max-width: 80%;
}

.student-notes .right .student-note{
  background-color: #C4CCE8;
}

.student-notes .left {
  align-self: flex-start;
  max-width: 80%;
}

.student-notes .left .student-note{
  background-color: #CCE8C4;
}

.student-note.important {
  border-color: #4177DA;
  border-style: solid;
}

.student-note.session {
  border-color: #DAA441;
  border-style: solid;
}

.student-notes-input {
  resize: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 10px; 
  margin-top: 10px;
}

.background-black {
  background-color: black;
}

.no-margins {
  margin: 0;
}