body {
  background-color: white;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
}

#student-general-info {
  user-select: none;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.justifyStart {
  justify-content: start;
}

.expectation-input {
  font-size: 1em;
  font-weight: bold;
  width: 500px;
  height: 4.5em;
  border-width: 2px;
}

#generalStudentMessageDiv {
  width: 100%;
  height: 80vh;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  display: flex;
  flex-direction: column;
}

#gradesContainer {
  width: 100%;
  height: 80vh;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  position: relative;
}

.gradesHelp {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px 5px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.helpModal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 100;
}

.helpContainer {
  background-color: white;
  max-width: 70%;
  padding: 20px;
  border-radius: 20px;
}

.studentMessageLabel {
  padding: 10px;
  color: white;
  border-radius: 10px 10px 0px 0px;
  margin: 0;
  background-color: #110D65;
}

.backgroundBlack {
  background-color: black;
}

.gridContainer {
  display: grid;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}

#gradesContainer .gridContainer {
  grid-template-columns: 20% 10% 10% 10% 10% 10% 10% 10% 10% ;
}

#gradesContainer :disabled {
  color: white;
  opacity: 1;
  -webkit-text-fill-color: white !important;
  -webkit-opacity: 1 !important;
}

#gradesContainer .gridContainer :nth-child(2) {
  border-top-left-radius: 5px;
}

#gradesContainer .gridContainer :nth-child(9) {
  border-top-right-radius: 5px;
}

#gradesContainer .gridContainer :nth-child(10) {
  border-top-left-radius: 5px;
}

#gradesContainer .gridContainer :nth-last-child(9) {
  border-bottom-left-radius: 5px;
}

#gradesContainer .gridContainer :nth-last-child(1) {
  border-bottom-right-radius: 5px;
}

#gradesContainer .gridContainer .gridCornerItem {
  background-color: transparent;
}

#gradesContainer .gridContainer .gridDividerItem {
  background-color: #4C5695;
  color: black;
  padding: 5px;
  text-align: center;
  font-weight: 600;
  border: 1px solid black;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  grid-column: 1 / 10;
}

#gradesContainer .gridContainer .gridHeaderItem {
  background-color: #242424;
  color: white;
  padding: 5px;
  text-align: center;
  font-weight: 600;
  border: 1px solid black;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  min-width: 50px;
}

#gradesContainer .gridContainer .gridItem {
  background-color: #3F4458;
  color: white;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
  margin: 0;
  font-weight: 400;
  font-family: inherit;
  font-size: inherit;
}

#gradesContainer .gridContainer .gridHeaderItem.diagonal {
  transform: rotate(315deg);
  width: 100px;
}


#gradesContainer .gridContainer .highlight {
  /* border-top: 3px solid #65CC9F;
  border-bottom: 3px solid #65CC9F; */
  border-top: 3px solid #80CBC4;
  border-bottom: 3px solid #80CBC4;
}

#gradesContainer .gridContainer :focus {
  background-color: #80CBC4;
  border-top: 1px solid #80CBC4;
  border-bottom: 1px solid #80CBC4;
  color: black;
}

#gradesContainer .pending {
  border-color: #2D5BFC;
}

#gradesContainer .changed {
  border-color: white;
}

#gradesContainer .success {
  border-color: #80CBC4;
}

#gradesContainer .failed {
  border-color: #E94045;
}



.table-header-rotated th.row-header{
  width: auto;
}

.table-header-rotated td{
  width: 10%;
  border: 1px solid #dddddd;
  vertical-align: middle;
  text-align: center;
}

.table-header-rotated th.rotate-45{
  height: 80px;
  width: 10%;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  width: 100%;
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
  white-space: nowrap; /*whether to display in one line or not*/
}

.danger {
  background-color: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#studentProfilePic {
  height: 100px;
  width: 100px;
}

#fileLabel {
  position: absolute;
  bottom: -4px;
  right: 0px;
}