:root {
	--mainColor: rgb(230, 231, 232);
}

.main {
	background-color: var(--mainColor)
}

#firstHalf {
	height: 45vh;
}

#secondHalf {
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: black;
	height: 55vh;
	display: flex;
	flex-direction: row;
}

.finalProductDiv {
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin-right: 5vw;
	width: 45vw;
	height: 80%;
	margin-top: calc(.10 * 70vh);
	padding: 1em;
}

.finalProductDiv:first-child {
	margin-left: 5vw;
	width: 10vw;
	text-align: center;
	overflow: auto;
}

.finalProductDiv:last-child {
	margin-right: 0vw;
	width: 25vw;
	overflow: auto;
}

.bold {
	font-weight: bold;
}

.columns {
	display: flex;
	flex-direction: row;
}

.rows {
	display: flex;
	flex-direction: column;
}

.centerSpread {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	width: 100%;
}

.centerSpread button {
	height: 25%;
	width: 15%;
}

.mainLabel {
	margin-top: 5px;
	height: 1.5em;
	margin-right: 10px;
}

.mainInput {
	margin-top: 5px;
	height: 1.5em;
}

#answers .rows input{
	height: 20px;
	width: 50px;
	margin-top: 2px;
	margin-left: 5px;
}

#answers .rows label{
	height: 20px;
	margin-top: 2px;
	margin-left: 20px;
}

#scaledScores .rows input{
	height: 20px;
	width: 50px;
	margin-top: 2px;
	margin-left: 20px;
}

#scaledScores .rows label{
	height: 20px;
	margin-top: 2px;
	margin-left: 20px;
}

.sectionPassage {
	margin-left: 10px;
}

.title {
	height: 5vh;
	width: 40vw;
}

.textArea {
	height: 17vh;
	width: 40vw;
}

.reference {
	height: 5vh;
	width: 40vw;
}

.preText {
	height: 5vh;
	width: 40vw;
}

#pText {
	overflow: auto;
	line-height: 1.5;
}

.border-none {
	border-width: 0px 0px 0px 0px;
}

table {
	border-collapse: collapse;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

table th {
	text-align: center;
	background-color: #3a6070;
	color: #FFF;
	padding: 4px 8px 4px 8px;
	border: 2px solid black;
}

table td {
	text-align: center;
	border: 1px solid #e3e3e3;
	padding: 4px 8px;
}

/*table td:first-child {
	border-style: solid;
	border-color: black;
	border-width: 0px 2px 0px 0px;
}*/

table tr:nth-child(odd) td {
	background-color: #e7edf0;
}

.border-top {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: black;
}

.border-right {
	border-style: solid;
	border-width: 0px 2px 0px 0px;
	border-color: black;
}

.border-bottom {
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: black;
}

.border-left {
	border-style: solid;
	border-width: 0px 0px 0px 2px;
	border-color: black;
}

.spotlight {
	background-color: yellow;
}

.box {
	border-style: solid;
	border-width: 1px;
}

.problem {
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	background-color: rgb(230, 231, 232);
	margin: 2px;
	cursor: pointer;
}

.stage1 {
	background-color: rgb(230, 231, 232);
}

.stage2 {
	background-color: yellowgreen;
}

.stage3 {
	background-color: green;
}

.imagePopup {
	position: absolute;
	background-color: rgb(230, 230, 230);
	border-style: solid;
	border-width: 2px;
}

.imagePopup div:hover {
	background-color: rgb(180, 180, 180);
	cursor:pointer;
}

#questionsPart1 {
	width: 45vw;
	height: 35vh;
}

#questionsPart1 textarea {
	height: 100%;
}

#questionsPart2 {
	width: 30vw;
	height: 35vh;
	margin-left: 5%;
}

#questionsPart2 textarea {
	height: 100%;
}

.correctAnswer {
	color:white;
	font-weight: bold;
	background-color: green;
}

.hidden {
	display: none;
}
