@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600&display=swap');

@font-face {
  font-family: 'Crimson Pro';
  src: url(Fonts/CrimsonPro-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Crimson Pro';
  src: url(Fonts/CrimsonPro-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

:root {
  --main-background: white;
  --secondary-background: #111a43;

  --english-color: #EA5A59;
  --math-color: #54C6FB;
  --break-color: #F5B233;
  --reading-color: #8786FC;
  --science-color: #64C13D;
  --writing-color: #F5B233;
  --all-color: var(--secondary-background);

  --default-color: rgb(122, 122, 122);

  --accent-color: var(--default-color);

  --english-passage-columns: 2;
  --math-passage-columns: 1;
  --reading-passage-columns: 2;
  --science-passage-columns: 1;

  --defualt-passage-columns: 1;

  --passage-columns: var(--defualt-passage-columns)
}

@media screen and (max-width: 800px) {
  :root {
    --english-passage-columns: 1;
    --math-passage-columns: 1;
    --reading-passage-columns: 1;
    --science-passage-columns: 1;
  }
}

.english-color {
  color: var(--english-color);
}
.english-background {
  background-color: var(--english-color);
}
.math-color {
  color: var(--math-color);
}
.math-background {
  background-color: var(--math-color);
}
.reading-color {
  color: var(--reading-color);
}
.reading-background {
  background-color: var(--reading-color);
}
.science-color {
  color: var(--science-color);
}
.science-background {
  background-color: var(--science-color);
}

/* general styles */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "proxima-nova", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  margin: 0;
}

img {
  max-width: 100%;
}

.spinner {
  display: block;
  border: 3px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  animation: spin 750ms linear infinite;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/* fix position of mathjax */
#bimg {
  position: relative;
  z-index: 1;
}

/* remove focus on mathjax */
.MathJax:focus {
  outline: none;
  border: none;
}

.color-accent {
  color: var(--accent-color);
}

.background-accent {
  background-color: var(--accent-color);
  color: white;
}

.box {
  border-radius: .5em;
  padding: .5em 2em;
  font-weight: 900;
}

section.hide {
  display: none;
}

.header {
  background-color: var(--secondary-background);
  color: white;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.header > .container {
  /* flex: 1; */
  display: flex;
  justify-content: center;
}

.header h1 {
  margin: 0;
}

.header .logo {
  height: 2rem;
  fill: white;
}

/* Landing screen */

.landing{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.landing .content {
  padding: 4em;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 2em;
  overflow-y: auto;
}

@media screen and (max-width: 800px) {
  .landing .content {
    padding: 2em;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
  }
}

.landing .content .next-lesson-wrapper {
  grid-column: 1 / -1;
  background-color: var(--default-color);
  color: white;
}

.landing .content .next-lesson-wrapper a {
  color: inherit;
}

.landing .content .assignment {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}

.landing .content .assignment.hide {
  display: none;
}

.landing .content .assignment * {
  margin: 0;
}

.landing .content .assignment svg {
  margin-right: .5em;
  height: 1.3em;
  fill: white;
}

.landing .content .assignment p {
  margin-right: .5em;
}

.landing .content .previous-assignment-wrapper .subsections {
  flex-basis: 100%;
  display: flex;
  margin-top: .5em;
  border-radius: .5em;
  overflow: hidden;
}

.landing .content .previous-assignment-wrapper .subsections > * {
  flex: 1;
  padding: .5em;
  text-align: center;
}

/* Main screen */

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main .panels {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: row;
  position: relative;
}

.main .panels .hide {
  display: none;
}

.main .panels > div {
  padding: 2em;
  /* height: 100%; */
  overflow-y: auto;
}

.main .panels p.longQuote {
  text-indent: 0 !important;
  padding: 0em .75em;
}

.main .panels > div:not(:last-child) {
  border-right: 4px solid black;
}

.main .panels .selector {
  padding: 0;
  position: absolute;
  left: 0;
  background-color: white;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 250ms ease-in;
  z-index: 10;
  overflow: visible;
}

.main .panels .selector.open {
  transform: translateX(0%);
}

.main .panels .selector .selector-scroll {
  height: 100%;
  overflow-y: auto;
}

.main .panels .selector .time-container {
  position: sticky;
  background-color: var(--main-background);
  top: 0;
  width: 100%;
  padding: 1em 1em;
  border-bottom: 2px solid rgb(197, 197, 197);
}

#sectionTime {
  text-align: center;
}

.main .panels .selector input[type=radio] {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
}

.main .panels .selector .selector-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: .5em 1em;
  cursor: pointer;
}

.main .panels .selector input[type=radio]:checked + .selector-wrapper {
  background-color: var(--accent-color);
  color: var(--main-background);
}

.main .panels .selector .selector-wrapper:hover {
  background-color: var(--accent-color);
  color: var(--main-background);
}

.main .panels .selector input[type=radio]:checked + .selector-wrapper:hover {
  background-color: var(--main-background);
  color: var(--accent-color);
  outline: 2px solid var(--accent-color);
}

.main .panels .selector .selector-wrapper span {
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 2px solid var(--accent-color);
  background-color: var(--main-background);
}

.main .panels .selector .selector-wrapper span:first-child {
  margin-right: 1em;
  padding: 2px;
}

.main .panels .selector .selector-wrapper span:nth-child(2) {
  margin-left: 1em;
  padding: 1px;
  fill: var(--accent-color);
  border: none;
  background-color: transparent;
}

.main .panels .selector input[type=radio] + .selector-wrapper:hover > span:nth-child(2) {
  fill: var(--main-background);
}

.main .panels .selector input[type=radio]:checked + .selector-wrapper > span:nth-child(2) {
  fill: var(--main-background);
}

.main .panels .selector input[type=radio]:checked + .selector-wrapper:hover > span:nth-child(2) {
  fill: var(--accent-color);
}

.main .panels .selector .selector-wrapper span .flag {
  fill:var(--main-background);
}

.main .panels .selector .selector-wrapper span.flagged .flag {
  fill:var(--accent-color);
}

.main .panels .selector .selector-wrapper span.answered {
  border: 2px solid var(--main-background);
  background-color: var(--accent-color);
}

.main .panels .selector .selector-wrapper span.answered .flag {
  fill:var(--accent-color);
}

.main .panels .selector .selector-wrapper span.answered.flagged .flag {
  fill:var(--main-background);
}

.main .panels .selector .submit {
  margin: .5em 1em;
}

.main .panels .selector .pull-tab {
  position: absolute;
  top: 25%;
  left: calc(100% + 4px);
  background-color: var(--accent-color);
  width: 1.5em;
  height: 4.5em;
  z-index: 2;
  transform: translateY(-50%);
  border-radius: 0em .75em .75em 0em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main .panels .selector .pull-tab div {
  width: 2px;
  height: 2em;
  background-color: white;
  margin-right: .3em;
}

.main .panels .selector .pull-tab div:last-child {
  margin-right: .1em;
}

.main .panels .passage {
  flex: 1.25;
}

#passageContent {
  margin-top: 1em;
  column-count: var(--passage-columns);
}

#passageTitle-A, #passageTitle-B {
  margin-top: 0;
}

#passagePreText-A, #passageReference-A,
#passagePreText-B, #passageReference-B {
  font-size: .8em;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
} 

#passageText-A p, #passageText-B p {
  margin-top: 0;
  text-indent: 1.5em;
  line-height: 1.8;
}

#passageText-A table, #passageText-B table {
  margin-bottom: 1em;
}

#passageText-A img, #passageText-B img {
  display: block;
}

#passageText-A p.paragraphLabel, #passageText-B p.paragraphLabel {
  text-align: center;
}

#passageText-A p.experimentLabel, #passageText-B p.experimentLabel {
  text-indent: 0;
}

/* force the second passage to the new column */
/* #passageText-A {
  break-after: column;
} */

.main .panels .passage-container span[data-question].box {
  border-radius: 0;
  padding: 0;
  font-weight: 300;
  width: 1.6em;
  height: 1.6em;
  text-indent: 0;
  text-align: center;
  outline: black solid 1px;
  display: none;
  margin: 0 .25em;
}

.main .panels .passage-container span[data-question].box.highlighted {
  display: inline-block;
  background-color: var(--accent-color);
}

.main .panels .passage span.highlighted {
  /* background-color: #FFE659; */

  border-bottom: 2px solid var(--accent-color);
}

.main .panels .question {
  flex: .5;
}

#questionFlag {
  float: right;
  position: absolute;
  visibility: hidden;
}

.main .panels .question label.flag {
  display: block;
  width: 1.5em;
  height: 1.5em;
  padding: .25em;
  border-radius: 50%;
  float: right;
  background-color: white;
  fill: white;
}

#questionFlag:checked + label.flag {
  fill: var(--accent-color);
}

.main .panels .question .choice {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: .5em;
  cursor: pointer;
  width: max-content;
  max-width: 100%;
  padding: 0 .5em;
  border: 2px solid transparent;
  border-radius: .5em;
}

.main .panels .question .choice.correct {
  border-color: var(--accent-color)
}

.main .panels .question .choice * {
  margin: 0;
}

.main .panels .question .choice .choice-letter {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  margin: 0;
  margin-right: 4px;
  text-align: center;
}

.main .panels .question .choice > input {
  margin-right: 1em;
  position: relative;
}

.main .panels .question .choice > input:focus {
  outline: none;
}

.main .panels .question .choice > input[type="checkbox"] {
  margin-right: 1.5em;
  position: relative;
  visibility: hidden;
}

.main .panels .question .choice:hover > input[type="checkbox"] {
  visibility: visible;
}

.main .panels .question .choice > input[type="checkbox"]::after {
  content: '-';
  font-size: 2.5em;
  width: 1em;
  height: 1em;
  position: absolute;
  background-color: var(--main-background);
  top: -13px;
  left: -2px;
  text-align: top;
}

.main .panels .question .choice > input[type="checkbox"]:checked::after {
  content: '+';
}

.main .panels .question .choice > input[type="checkbox"]:checked~label {
  text-decoration: line-through;
}

.main .panels .question .choice > input[type="radio"]::after {
  content: '';
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 50%;
  background-color: var(--main-background);
  border: 2px solid black;
  position: absolute;
  top: -2px;
  left: -2px;
}

.main .panels .question .choice:hover > input[type="radio"]:not(:disabled)::after {
  border-color: var(--accent-color);
}

.main .panels .question .choice > input[type="radio"]:checked::after {
  background-color: var(--accent-color);
  border: none;
}

.main .panels .directions {
  flex: 1;
}

.main .footer {
  background-color: var(--secondary-background);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.main .footer .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.main .footer .nav.button {
  background-color: var(--main-background);
  border-radius: .5em;
  color: var(--secondary-background);
  padding: .5em 1em;
}

.main .footer .nav.hide {
  visibility: hidden;
}

.main .footer .nav h1 {
  margin: 0;
}

.main .footer .circle {
  border: 4px solid white;
  border-radius: 50%;
  width: min-content;
  height: min-content;
  padding: .5em;
}

.main .footer .circle:first-child {
  margin-right: 1em;
}


.main .footer .circle:last-child {
  margin-left: 1em;
}

.main .footer .circle .right-arrow {
  width: .7em;
  height: .7em;
  border-top: 3px solid white;
  border-right: 3px solid white;
  transform: translateX(-15%) rotate(45deg);
}

.main .footer .circle .left-arrow {
  width: .7em;
  height: .7em;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  transform: translateX(15%) rotate(45deg);
}

table {
	border-collapse: collapse;
	border-style: solid;
	border-color: black;
	border-width: 2px;

  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}

table th {
	text-align: center;
	background-color: #3a6070;
	color: #FFF;
	padding: 4px 8px 4px 8px;
	border: 2px solid black;
}

table td {
	text-align: center;
	border: 1px solid #e3e3e3;
  border-right: 2px solid black;
	padding: 4px 8px;
}

table tr:nth-child(odd) td {
	background-color: #e7edf0;
}

.border-top {
	border-top: 2px solid black;
}

.border-right {
	border-right: 2px solid black;
}

.border-bottom {
	border-bottom: 2px solid black;
}

.border-left {
	border-left: 2px solid black;
}