:root {
	--mainColor: rgb(230, 231, 232);
}

.main {
	background-color: var(--mainColor)
}

.hidden {
	display: none;
}

.finalProductDiv {
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin-right: 5vw;
	width: 10vw;
	height: 80%;
	margin-top: calc(.10 * 70vh);
	padding: 1em;
}

.finalProductDiv:last-child {
	margin-right: 0vw;
	width: 20vw;
}

.finalProductDiv:first-child {
	margin-left: 5vw;
	text-align: center;
}

.bold {
	font-weight: bold;
}

#firstHalf {
	width: 20vw;
}

#secondHalf {
	width: 80vw;
}

#form {
	display: flex;
	flex-direction: row;
	height: 30vh;
}

#finalProduct {
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: black;
	height: 68vh;
	display: flex;
	flex-direction: row;
}

#pText {
	width: 45vw;
	overflow: auto;
	line-height: 1.5;
}

.highlight:hover {
	background-color: yellow;
	cursor: pointer;
}

#questions {
	width: 20vw;
}

#passageText {
	width: 90%;
	height: 65%;
}

#passageTitle {
	width: 90%;
	height: 15%;
}

.columns {
	display: flex;
	flex-direction: row;
}

.rows {
	display: flex;
	flex-direction: column;
}

#questionsPart1 {
	width: 50%;
	height: 25vh;
}

#questionsPart1 textarea {
	height: 100%;
}

#questionsPart2 {
	width: 40%;
	height: 25vh;
	margin-left: 5%;
}

#questionsPart2 label {
	cursor: pointer;
}

.highlight-yellow {
	background-color: yellow;
}

.correctAnswer {
	color:white;
	font-weight: bold;
	background-color: green;
}

.problem {
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	background-color: rgb(230, 231, 232);
	margin: 2px;
	cursor: pointer;
}

.answerText {
	margin: 0em 0em 0em 2em;
}