table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){ background-color: #f2f2f2; }

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #808080;
  color: white;
}


details {
  border: 2px solid black;
  margin-bottom: 1em;
  padding: 1em;
}

details > summary:focus {
  outline: none;
}