#loading-screen {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: white;
  z-index: 999;
  display: flex;
}

.loading-ring {
  border: 20px solid white;
  border-top: 20px solid #110D65;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

:focus {
  outline: none;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(135, 168, 247);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.noMargins {
  margin: 0;
}

/***************************** custom confirmation ******************************/
#customConfirmationSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 999;
  top: 0px;
}

#customConfirmationSection .confirmationContainer {
  background-color: #FFFFFF;
  min-width: 400px;
  border-radius: 10px;
  overflow-y: auto;
}

#customConfirmationSection #customConfirmationMessage {
  color: #5B5B5B;
  padding: 20px;
  text-align: left;
  border-bottom: #D5D5D5 solid 1px;
  font-size: 14px;
  max-height: 100px;
  overflow-y: auto;
}


#customConfirmationSection .optionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#customConfirmationSection .optionsContainer>div {
  color: #057AFB;
  padding: 10px;
  cursor: pointer;
}
/********************************************************************************/