body {
    font-family: sans-serif;
    background-image: url("../../Images/MIT\ Campus.jpg");
    --background-color: rgb(0, 0, 91);
    background-size: cover;
}
#pageDiv {
    border-radius: 2px;
    border-style: solid;
    border-radius: 7px;
    height: 95vh;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 1vw;
    background-color: white;
    opacity: 90%;
    padding-left: 20px;
    overflow-y: scroll;
}

.input {
    margin-right: 20px;
    margin-left: 0px;
    margin-bottom: 5px;
    width: 20vw;
    height: 1.5em;
    padding-left: 0.5em;
    border-radius: 2px;
    border-width: 1px;
}

.input2 {
    margin-right: 25px;
}

.label {
    display: inline-block;
    min-width: 140px;
    margin-right: 5px;
    margin-left: 0px;
    margin-bottom: 5px;
    font-weight: bold;
}

.label2 {
    margin-right: 9px;
}

.miniBox {
    width: 20px;
}

.smallBox {
    width: 60px;
}

.flexRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

#why {
    width: 500px;
}

#referral {
    width: 500px;
}

#submit {
    margin-left: 45vh;
    margin-top: 3vh;
    width: 200px;
    height: 40px;
}

.addingElements {
    margin-bottom: 5px;
}

.addButton {
    vertical-align: middle;
}

.inline {
    display: inline-block;
}