body {
    background-image: url("../../Images/Wasatch Mountain.jpg");
    background-size: cover;
    font-family: Roboto, sans-serif;
}

#section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#registration-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgb(0, 0, 0, 0.1);
    max-width: 50%;
}

.heading-block {
    background-color: #110D65;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-self: stretch;
}

#form-scroll-block {
    /* margin-right: 1vw;
    margin-left: 1vw;
    opacity: 90%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 25px;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* .formTitle {
    background-color: #110D65;
    font-size: 32px;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} */

/* .fullLength {
    height: 3em;
    width: 15vw;
    background-color: rgb(64, 131, 131);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

.longLength {
    height: 3em;
    margin-left: 2vw;
    width: 13vw;
    background-color: rgb(64, 131, 131);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

.midLength {
    height: 2.5em;
    width: 10vw;
    background-color: rgb(64, 131, 131);
    margin-left: 5vw;
    margin-bottom: -1vh;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

.smallLength {
    height: 2.5em;
    width: 5vw;
    background-color: rgb(64, 131, 131);
    margin-left: 10vw;
    margin-bottom: -1vh;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

.finalLength {
    margin-bottom: 1vh;
} */

/* .input-row {
    display: flex;
    flex-direction: row;
} */

.input-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
  }
  
  .input {
    margin-bottom: 5px;
    width: 250px;
    height: 30px;
    font-size: 16px;
    font-weight: 200;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: rgb(200, 200, 200, .25);
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
  
  .label {
    align-self: flex-start;
    text-align: left;
    margin-bottom: 5px;
    color: black;
  }

/* .flexRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

#agreementDiv {
    border-style: solid;
    border-width: 2px;
    /* width: 95%; */
    /* padding-right: 1%; */
}

/* text {
    font-size: smaller;
    margin-left: -1em;
    margin-top: 0.5em;
} */

p {
    margin-bottom: 0px;
    word-wrap: normal;
    /* max-width: 500px; */
}
/* ul {
    margin-bottom: 0px;
    word-wrap: normal;
    width: 80%;
} */


#statement {
    margin-left: 2em;
    margin-top: 4px;
    margin-bottom: 10px;
    /* max-width: 50vw; */
}

.signature {
    margin-left: 1em;
    /* margin-top: -0.5em; */
}

.date {
    margin-left: 1em;
    /* margin-top: -0.5em; */
}

.finalInput {
    margin-bottom: 2vh;
}

.miniBox {
    width: 40px;
    margin-left: 4px;
}

.smallBox {
    width: 80px;
}


#why {
    width: 500px;
}

#referral {
    width: 500px;
}

#submit {
    margin-left: 45vh;
    margin-top: 3vh;
    width: 200px;
    height: 40px;
}

.addingElements {
    margin-bottom: 5px;
}

.addButton {
    vertical-align: middle;
}

.inline {
    display: inline-block;
}