body {
    background-image: url("../../Images/Wasatch Mountain.jpg");
    background-size: cover;
    font-family: Roboto, sans-serif;
}

#section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#pageDiv {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 650px;
    height: 95vh;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgb(0, 0, 0, 0.1);
    z-index: 0;
}

#formDiv {
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 95%;
}

.formTitle {
    background-color: #110D65;
    font-size: 32px;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0;
}

.finalLength {
    margin-bottom: 3vh;
}

.input {
    width: 86%;
    height: 1.5em;
    font-size: 16px;
    font-weight: 200;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 1em;
    margin-right: 5%;
    margin-left: 2%;
    border: none;
    border-radius: 10px;
    background-color: rgb(200, 200, 200, .25);
    box-shadow: 0px 8px 15px rgb(0, 0, 0, 0.1);
}

.input2 {
    margin-right: 0vw;
}

.label {
    letter-spacing: 0.12em;
    font-weight: 200;
    font-size: 14px;
    width: 90%;
    margin-left: 2%;
}

.label2 {
    margin-right: 0vw;
}

.flexRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .flexRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.flexColumn {
    display: flex;
    flex-direction: column;
}
.flexColumn2 {
    display: flex;
    flex-direction: column;
    width: 50%
}

#agreementDiv {
    border-style: solid;
    border-width: 2px;
    width: 95%;
    padding-right: 1%;
}

text {
    font-size: smaller;
}

p {
    margin-bottom: 0px;
    word-wrap: normal;
}
ul {
    margin-bottom: 0px;
    word-wrap: normal;
    width: 90%;
}

#statement {
    margin-left: 2em;
    margin-top: 4px;
    margin-right: 1%;
    margin-bottom: 10px;
}

.signature {
    margin-left: 10%;
    margin-top: -8px;
}

.date {
    margin-left: 50%;
    margin-top: -8px;
}

.finalInput {
    margin-bottom: 2vh;
}

.miniBox {
    width: 3vw;
    margin-left: 3%;
}

.smallBox {
    width: 5vw;
}


#why {
    width: 500px;
}

#referral {
    width: 500px;
}

#submit {
    margin-left: 45vh;
    margin-top: 3vh;
    width: 200px;
    height: 40px;
}

.addingElements {
    margin-bottom: 5px;
}

.addButton {
    vertical-align: middle;
}

li {
    width: 100%;
}

.inline {
    display: inline-block;
}

.progressBar {
    counter-reset: step;
}

.progressBar li {
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
}

.progressBar li:after {
    font-size: 14px;
    content: counter(step);
    counter-increment: step;
    width: 2em;
    height: 2em;
    line-height: 2em;
    display: block;
    text-align: center;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    --background-color: rgb(2, 89, 165);
    background-color: white;
    --color: white;
    border-color: rgb(2, 89, 165);
    border-style: solid;
    z-index: -1;
}

.progressBar li:before {
    font-size: 14px;
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    border-style: solid;
    border-color: rgb(2, 89, 165, 0.8);
    --background-color: rgb(2, 89, 165, 0.8);
    bottom: 0.8em;
    left: 50%;
    z-index: -2;
}

.progressBar li:last-child:before {
    content: none;
}

.progressBar li:first-child:after {
    background-color: rgb(2, 89, 165);
    color: white;
}

.progressBar li.active {
    background-color: greenyellow;
}

.progressBarContainer {
    margin-bottom: 3%;
}

.buttonsDiv {
    margin-top: 2%;
    width: 96.6%;
    justify-content: space-between;
    text-align: center;
}

.buttons {
    color: white;
    width: 20%;
    border-bottom-left-radius: 25%55%;
    border-top-left-radius: 25%55%;
    border-bottom-right-radius: 25%55%;
    border-top-right-radius: 25%55%;
    background-color: green;
    padding-top: 3%;
    padding-bottom: 3%;
    cursor: pointer;
}

#backButton {
    background-color: red;
}