:root {
  --nav-background: white;
  --nav-color: black;

  --color-primary: #ffffff;
  --color-secondary: #E6E7E8;
  --color-tertiary: #101b42;

  --yellow-deep: #ffb102;
  --green-deep: #27c13a;
  --blue-deep: #19a7c8;
  --purple-deep: #6b6be5;
  --red-deep: #ef6b6b;

  --yellow-light: #ffca02;
  --green-light: #3cdd58;
  --blue-light: #02c6ff;
  --purple-light: #8787ff;
  --red-light: #ea5a5a;

  --yellow-very-light: #FFF4CC;
  --green-very-light: #CCFFD5;
  --blue-very-light: #CCF4FF;
  --purple-very-light: #CCCCFF;
  --red-very-light: #FFCCCC;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "proxima-nova", sans-serif;
}

body {
  font-family: "proxima-nova", sans-serif;
  font-weight: 200;
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  padding: 0.5em 1em;
  border: none;
  background-color: var(--green-deep);
  color: white;
  border-radius: 0.5em;
  font-size: 1rem;
  font-weight: 500;
  height: fit-content;
  cursor: pointer;
}

section {
  padding: 2em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.header > * {
  margin: 0;
}

.header > button {
  margin-left: auto;
}

.buttons > button {
  margin-bottom: 0.5em;
}

.datagrid-header {
  display: flex;
  justify-content: space-between;
}

.datagrid-header > * {
  margin-block: 0;
}

.datagrid-controls {
  display: flex;
  justify-content: end;
  align-items: center;
}

.datagrid-controls > .button {
  cursor: pointer;
  padding: 1em;
}

.datagrid-controls > .button > div {
  border-bottom: 2px solid var(--green-deep);
  border-right: 2px solid var(--green-deep);
  height: 10px;
  width: 10px;
}

.datagrid-controls > .button.previous > div {
  transform: rotate(135deg);
}

.datagrid-controls > .button.next > div {
  transform: rotate(-45deg);
}

.datagrid-controls > .button.hidden {
  visibility: hidden;
}

.datagrid {
  display: grid;
  grid-template-columns: 1fr auto;
}

.datagrid > * {
  padding: 0.5em 1em;
  border-bottom: 1px solid #ced0d3;
}

.datagrid > *.grid-header {
  font-weight: 700;
}

.datagrid > *.clickable {
  cursor: pointer;
}

/* get the second column */
.datagrid > *:nth-child(2n) {
  text-align: right;
}