:root {
  --nav-background: white;
  --nav-color: black;

  --color-primary: #ffffff;
  --color-secondary: #E6E7E8;
  --color-tertiary: #101b42;

  --gray-deep: #333333;;
  --gray-light: #ced0d3;;
  --gray-very-light: #eeeeee;;

  --yellow-deep: #ffb102;
  --green-deep: #27c13a;
  --blue-deep: #19a7c8;
  --purple-deep: #6b6be5;
  --red-deep: #ef6b6b;

  --yellow-light: #ffca02;
  --green-light: #3cdd58;
  --blue-light: #02c6ff;
  --purple-light: #8787ff;
  --red-light: #ea5a5a;

  --yellow-very-light: #FFF4CC;
  --green-very-light: #CCFFD5;
  --blue-very-light: #CCF4FF;
  --purple-very-light: #CCCCFF;
  --red-very-light: #FFCCCC;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "proxima-nova", sans-serif;
}

body {
  font-family: "proxima-nova", sans-serif;
  font-weight: 200;
  margin: 0;
}

a {
  color: currentColor;
  display: block;
  text-decoration: none;
  padding: .5em;
}

.composite {
  color: black;
}
.english {
  color: var(--red-deep);
}
.math {
  color: var(--blue-light);
}
.reading {
  color: var(--purple-deep);
}
.science {
  color: var(--green-deep);
}
.omitted {
  color: var(--gray-light);
}

.clickable {
  cursor: pointer;
}

.dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100vw;
  height: 100vh;
}

nav {
  grid-column: 1 / 2;
  padding: 1em;
  background-color: var(--green-very-light);
}

nav .logo {
  fill: var(--green-deep);
  display: block;
  width: 5em;
  box-sizing: content-box;
  cursor: pointer;
  padding-bottom: 22px;
  margin-inline: .5em;
}

nav a {
  margin-bottom: .5em;
  color: var(--green-deep);
  border-left: 1px solid transparent;
}

nav a:hover {
  border-color: var(--green-deep);
}

main {
  padding: 1em;
  height: 100%;
  overflow-y: auto;
}

main header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--green-deep);
}

main header h1,
main header h2 {
  margin: 0;
  padding: 0;
}

main header h1 {
  font-size: 1.75em;
}

main header h2 {
  font-size: 1em;
}

.positive {
  color: var(--green);
}

.zero {
  color: currentColor;
}

.negative {
  color: var(--red);
}

.links > * {
  display: none;
}

main .content {
  padding: 2em;
}

.hw-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.hw-grid > .header {
  text-align: center;
  margin: 0;
  padding-block: 1em;
  border-bottom: 1px solid var(--gray-light);
}

.hw-grid > .cell {
  text-align: center;
  margin: 0;
  padding-block: 1.5em;
  border-bottom: 1px solid var(--gray-light);
}

.topic-score {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-light);
  padding-block: 0.5em;
}

.topic-score.highlight {
  border-bottom-width: 3px;
}

.topic-score p {
  margin: 0;
}

.topic-score > div {
  font-variant-numeric: tabular-nums;
  display: flex;
}

.topic-score > div > p {
  border-right: 1px solid var(--gray-light);
  padding-inline: 0.5em;
  min-width: 60px;
  text-align: center;
}

.topic-score > div > p:last-child {
  border-right-width: 0px
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: white;
  border: 1px solid var(--gray-light);
  border-radius: 0.5em;
  text-align: center;
  padding: 0.5em;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext.up {
  bottom: 0px;
  right: 105%;
}
.tooltip .tooltiptext.down {
  top: 0px;
  right: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}