:root {
  --nav-background: white;
  --nav-color: black;

  --color-primary: #ffffff;
  --color-secondary: #E6E7E8;
  --color-tertiary: #101b42;

  --yellow-deep: #ffb102;
  --green-deep: #27c13a;
  --blue-deep: #19a7c8;
  --purple-deep: #6b6be5;
  --red-deep: #ef6b6b;

  --yellow-light: #ffca02;
  --green-light: #3cdd58;
  --blue-light: #02c6ff;
  --purple-light: #8787ff;
  --red-light: #ea5a5a;

  --yellow-very-light: #FFF4CC;
  --green-very-light: #CCFFD5;
  --blue-very-light: #CCF4FF;
  --purple-very-light: #CCCCFF;
  --red-very-light: #FFCCCC;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "proxima-nova", sans-serif;
}

body {
  font-family: "proxima-nova", sans-serif;
  font-weight: 200;
  margin: 0;
}

a {
  color: currentColor;
  display: block;
  text-decoration: none;
  padding: .5em;
}

.dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100vw;
  height: 100vh;
}

nav {
  grid-column: 1 / 2;
  padding: 1em;
  background-color: var(--green-very-light);
}

nav .logo {
  fill: var(--green-deep);
  display: block;
  width: 5em;
  box-sizing: content-box;
  cursor: pointer;
  padding-bottom: 22px;
  margin-inline: .5em;
}

nav a {
  margin-bottom: .5em;
  color: var(--green-deep);
  border-left: 1px solid transparent;
}

nav a:hover {
  border-color: var(--green-deep);
}

main {
  padding: 1em;
  height: 100%;
  overflow-y: auto;
}

main header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--green-deep);
}

main header h1,
main header h2 {
  margin: 0;
  padding: 0;
}

main header h1 {
  font-size: 1.75em;
}

main header h2 {
  font-size: 1em;
}

.positive {
  color: var(--green);
}

.zero {
  color: currentColor;
}

.negative {
  color: var(--red);
}

.links > * {
  display: none;
}

main .content {
  padding: 2em;
  width: 100%;
  gap: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main .content > .block {
  border-radius: 1em;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 1em;
}

main .content > .block > .header {
  width: 100%;
  border-bottom: 1px solid var(--accent-background);
}

main .content > .block > .header .title {
  margin: 0;
}