body {
    font-family: sans-serif;
    background-color: rgb(0, 0, 91);
}
#pageDiv {
    border-radius: 2px;
    border-style: solid;
    border-radius: 7px;
    height: 95vh;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 1vw;
    background-color: white;
    padding-left: 10px;
    overflow-y: scroll;
}

.input {
    margin-right: 20px;
    margin-left: 0px;
    margin-bottom: 5px;
    width: 150px;
    padding: 0px;
}

.input2 {
    margin-right: 25px;
}

.label {
    display: inline-block;
    min-width: 140px;
    text-align: right;
    margin-right: 5px;
    margin-left: 0px;
    margin-bottom: 5px;
}

.label2 {
    margin-right: 9px;
}

.miniBox {
    width: 20px;
}

.smallBox {
    width: 60px;
}

#why {
    width: 500px;
}

#referral {
    width: 500px;
}

#submit {
    margin-left: 45vh;
    margin-top: 3vh;
    width: 200px;
    height: 40px;
}

.addingElements {
    margin-bottom: 5px;
}

.addButton {
    vertical-align: middle;
}

.removeButton {
    vertical-align: middle;
}

.inline {
    display: inline-block;
}